<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="l-home">
  <section id="js-fv" class="p-first-view l-home__first-view">
    <div class="p-first-view__inner">
      <h2 class="p-first-view__body">
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay01">
            PORTFOLIO
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay02">
            KOKORO TOBITA
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay03">
            WEB PRODUCTION &
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay04">
            DEVELOPMENT.
          </span>
        </span>
      </h2>
    </div>
    <span class="p-first-view__scroll">SCROLL</span>
  </section>


</main>



<%- include('./common/_footer', {pageId:pageId }) %>