<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="l-home p-home">
  <div class="l-container">
    <!--ファーストビュー-->
    <section id="js-first-view" class="p-first-view">
      <div class="p-first-view__inner">
        <h2 class="p-first-view__head">
          <span class="p-first-view__heading is-wrap">
            <span class="is-slide-up u-delay01">
              KOKORO TOBITA
            </span>
          </span>
          <span class="p-first-view__heading is-wrap">
            <span class="is-slide-up u-delay02">
              WEB PRODUCTION
            </span>
          </span>
          <span class="p-first-view__heading is-wrap">
            <span class="is-slide-up u-delay03">
              PORTFOLIO.
            </span>
          </span>
        </h2>
        <p class="p-first-view__text is-fade-up u-delay04">
          Creator based in Japan - Ibaraki & Tokyo
        </p>
        <span class="p-first-view__arrow" data-scroll data-scroll-speed="-2">
          ↓
        </span>
      </div>
    </section>
    <!--/ファーストビュー-->

    <!--私について-->
    <section class="p-home-about l-home__profile">
      <div class="p-home-about__inner">
        <h2 class="p-home-about__heading" data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal">
          ABOUT ME
        </h2>
        <div class="p-home-about__profile js-trigger">
          <div class="p-home-about__body is-fade-up">
            <h3 class="p-home-about__name">
              <span class="p-home-about__name-en">
                Kokoro Tobita
              </span>
              <span class="p-home-about__name-ja">
                飛田 心
              </span>
            </h3>
            <p class="p-home-about__text">
              2000年生まれ、茨城県在住のAB型。洋服とDIYが趣味です。<br>
              化学メーカーに勤務しながら独学でコーディング、Webデザインを学んでおり、<br class="u-hidden-xl-down">
              「デザインへの理解のあるマークアップエンジニア」を目指して日々成長中です。                
            </p>
            <p class="p-home-about__text">
              【Skills】
              <br>
              Photoshop / Illustrator / XD / Figma <br>
              HTML / CSS / Scss / Javascript / WordPress <br>
              Git / Gulp / webpack / vscode
            </p>
            <div class="p-home-about__link-wrapper">
              <a href="/about/" class="c-button-primary">
                VIEW MORE
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--私について-->
  </div>

  <div class="l-container--large">
    <!--制作実績-->
    <section class="p-home-works l-home__works">
      <!--サイトのタイトル、詳細-->
      <div data-scroll data-scroll-sticky data-scroll-target="#js-works">
        <div class="p-home-works__info">
          <div data-id="#js-global" class="p-home-works__detail">
            <p class="p-home-works__number is-slide-mask">
              01
            </p>
            <br>
            <h3 class="p-home-works__title is-slide-mask">
              Global Standard
            </h3>
            <br>
            <p class="p-home-works__category is-slide-mask">
              Corporate Site / Coding 
            </p>
            <br>
            <p class="p-home-works__text is-slide-mask">
              「グローバルスタンダード」架空コーポレートサイト
            </p>
          </div>

          <div data-id="#js-open" class="p-home-works__detail">
            <p class="p-home-works__number is-slide-mask">02</p>
            <br>
            <h3 class="p-home-works__title is-slide-mask">
              Open Cafe
            </h3>
            <br>
            <p class="p-home-works__category is-slide-mask">
              Cafe Site / Coding
            </p>
            <br>
            <p class="p-home-works__text is-slide-mask">
              「Open Cafe」架空カフェサイト
            </p>
          </div>

          <div data-id="#js-minami" class="p-home-works__detail">
            <p class="p-home-works__number is-slide-mask">03</p>
            <br>
            <h3 class="p-home-works__title is-slide-mask">
              Minami Dental
            </h3>
            <br>
            <p class="p-home-works__category is-slide-mask">
              Dental Site  / Coding
            </p>
            <br>
            <p class="p-home-works__text is-slide-mask">
              「みなみ歯科クリニック」架空歯科医院サイト
            </p>
          </div>

          <div data-id="#js-garden" class="p-home-works__detail">
            <p class="p-home-works__number is-slide-mask">04</p>
            <br>
            <h3 class="p-home-works__title is-slide-mask">
              Garden Salad
            </h3>
            <br>
            <p class="p-home-works__category is-slide-mask">
              Cafe Site / Coding
            </p>
            <br>
            <p class="p-home-works__text is-slide-mask">
              「Garden Salad」架空カフェサイト
            </p>
          </div>

          <div data-id="#js-blog" class="p-home-works__detail">
            <p class="p-home-works__number is-slide-mask">05</p>
            <br>
            <h3 class="p-home-works__title is-slide-mask">Tech Blog</h3>
            <br>
            <p class="p-home-works__category is-slide-mask">
              Blog Site / Design / Coding
            </p>
            <br>
            <p class="p-home-works__text is-slide-mask">
              「Next Blog」個人技術ブログ
            </p>
          </div>
        </div>
      </div>
      <!--/サイトのタイトル、詳細-->

      <!--モック-->
      <div class="p-home-works__feature js-trigger">
        <ul class="p-home-works__cards">
          <li id="js-global" class="p-home-works__card js-trigger js-screen-img">
            <a href="/single-works/" class="p-card-works">              
              <p class="mock__img-wrapper">
                <img src="/img/common/sp-global.png" class="mock__img" alt="作品のタイトル" data-scroll data-scroll-speed="2">
                <img src="/img/common/tab-global.png" class="mock__img" alt="作品のタイトル" data-scroll data-scroll-speed="1">
                <img src="/img/common/pc-global.png" class="mock__img" alt="作品のタイトル">
              </p>              
            </a>
          </li>
          <li id="js-open" class="p-home-works__card js-trigger js-screen-img">
            <a href="" class="p-card-works">              
              <p class="mock__img-wrapper">
                <img src="/img/common/sp-open.png" class="mock__img" alt="作品のタイトル"
                  data-scroll data-scroll-speed="2">
                <img src="/img/common/tab-open.png" class="mock__img" alt="作品のタイトル"
                  data-scroll data-scroll-speed="1">
                <img src="/img/common/pc-open.png" class="mock__img" alt="作品のタイトル">
              </p>              
            </a>
          </li>  
          <li id="js-minami" class="p-home-works__card js-trigger js-screen-img">
            <a href="" class="p-card-works">
              <p class="mock__img-wrapper">
                <img src="/img/common/sp-minami.png" class="mock__img" alt="作品のタイトル" data-scroll data-scroll-speed="2">
                <img src="/img/common/tab-minami02.png" class="mock__img" alt="作品のタイトル" data-scroll data-scroll-speed="1">
                <img src="/img/common/pc-minami.png" class="mock__img" alt="作品のタイトル">
              </p>
            </a>
          </li>
          <li id="js-garden" class="p-home-works__card js-trigger js-screen-img">
            <a href="" class="p-card-works">              
              <p class="mock__img-wrapper">
                <img src="/img/common/sp-garden.png" class="mock__img" alt="作品のタイトル"
                  data-scroll data-scroll-speed="2">
                <img src="/img/common/tab-garden02.png" class="mock__img" alt="作品のタイトル"
                  data-scroll data-scroll-speed="1">
                <img src="/img/common/pc-garden.png" class="mock__img" alt="作品のタイトル">
              </p>              
            </a>
          </li>
          <li id="js-blog" class="p-home-works__card js-trigger js-screen-img">
            <a href="" class="p-card-works">
              <p class="mock__img-wrapper">
                <img src="/img/common/sp-blog.png" class="mock__img" alt="作品のタイトル" data-scroll data-scroll-speed="2">
                <img src="/img/common/tab-blog.png" class="mock__img" alt="作品のタイトル" data-scroll data-scroll-speed="1">
                <img src="/img/common/pc-blog.png" class="mock__img" alt="作品のタイトル">
              </p>
            </a>
          </li>
        </ul>
      </div>
      <!--/モック-->

      <div id="js-works" class="p-home-works__mask"></div>
    </section>
    <!--/制作実績-->
  </div>
  <section class="p-home-contact">
    <a href="/contact/" class="p-home-contact__link">
      Contact Me
    </a>
  </section>
</main>
<%- include('./common/_footer', {pageId:pageId }) %>