<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="l-home">
  <section id="js-fv" class="p-first-view l-home__first-view">
    <div class="p-first-view__inner">
      <h2 class="p-first-view__body">
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay01">
            PORTFOLIO
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay02">
            KOKORO TOBITA
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay03">
            WEB PRODUCTION &
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay04">
            DEVELOPMENT.
          </span>
        </span>
      </h2>
    </div>
    <span class="p-first-view__scroll">SCROLL</span>
  </section>

  <section class="p-key-visual l-home__key-visual">
    <h2 class="p-key-visual__heading">
      HELLO WORLD.
    </h2>
    <span class="p-key-visual__letter p-letter p-letter--bg-black">
      <span class="p-letter__inner">
        JavaScript
      </span>
    </span>
    <span class="p-key-visual__letter p-letter">
      <span class="p-letter__inner">
        WordPress
      </span>
    </span>
    <span class="p-key-visual__letter p-letter">
      <span class="p-letter__inner">
        HTML & CSS
      </span>
    </span>
    <svg class="c-svg p-key-visual__svg" width="120" height="120">
      <use xlink:href="/img/svg/sprite.min.svg#pen" />
    </svg>
  </section>
</main>



<%- include('./common/_footer', {pageId:pageId }) %>