<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="l-home">
  <section id="js-first-view" class="p-first-view l-home__first-view">
    <div class="p-first-view__inner">
      <h2 class="p-first-view__body js-fv-text">
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay01">
            PORTFOLIO
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay02">
            KOKORO TOBITA
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay03">
            WEB PRODUCTION &
          </span>
        </span>
        <span class="p-first-view__heading is-wrap">
          <span class="is-slide-up u-delay04">
            DEVELOPMENT.
          </span>
        </span>
      </h2>
    </div>
    <span class="p-first-view__scroll is-scale-in">SCROLL</span>
  </section>

  <section id="js-key-visual" class="p-key-visual l-home__key-visual l-container">
    <div class="p-key-visual__inner  js-typography">
      <h2 class="p-key-visual__heading">
        Technology Used...
      </h2>
    </div>
    <span class="p-key-visual__letter p-letter p-letter--bg-black">
      <span class="p-letter__inner js-letter01">
        JavaScript
      </span>
    </span>
    <span class="p-key-visual__letter p-letter">
      <span class="p-letter__inner js-letter02">
        WordPress
      </span>
    </span>
    <span class="p-key-visual__letter p-letter">
      <span class="p-letter__inner js-letter03">
        HTML & CSS
      </span>
    </span>
    <svg class="c-svg p-key-visual__svg js-pen" width="120" height="120">
      <use xlink:href="/img/svg/sprite.min.svg#pen" />
    </svg>
  </section>

  <div id="js-switching-area" class="p-home">
    <div class="l-container">
      <div id="js-switching-bg">
        <section class="p-intro l-home__intro">
          <div class="p-intro__inner js-trigger">
            <h3 class="p-intro__heading">
              <span class="is-wrap">
                <span class="is-slide-up">
                  TO BE A RELIABLE
                </span>
              </span>
              <span class="is-wrap">
                <span class="is-slide-up u-delay01">
                  WEB CREATOR.
                </span>
              </span>
            </h3>
            <p class="p-intro__text is-fade-up u-delay02">
              初めまして、コーダー・マークアップエンジニア志望の飛田 心と申します。
              <br>
              本サイトを通じて少しでも私にご興味を持ってもらえれば幸いです。
            </p>
          </div>
        </section>

        <section class="p-home-about l-home__about">

          <h2 class="c-section-heading js-trigger">
            <span class="c-section-heading__en is-wrap">
              <span class="is-slide-up">
                ABOUT
              </span>
            </span>
            <span class="c-section-heading__ja is-fade-up">
              私について
            </span>
          </h2>

          <div class="p-home-about__contents js-trigger">
            <div class="p-home-about__media">
              <p class="p-home-about__img-wrapper is-mask-white">
                <picture class="p-home-about__picture">
                  <source data-srcset="/img/webp/about.webp" class="p-home-about__img" type="image/webp" />
                  <img data-src="/img/common/about.jpeg" src="/img/common/placeholder.png" class="p-home-about__img lazyload" width="540" height="540" loading="lazy" alt="プロフィール画像">
                </picture>
              </p>
            </div>
            <section class="p-home-about__profile is-fade-up u-delay05">
              <h3 class="p-home-about__heading">
                <span class="p-home-about__heading-en">
                  KOKORO TOBITA
                </span>
                <span class="p-home-about__heading-ja">
                  飛田 心
                </span>
              </h3>
              <p class="p-home-about__text">
                茨城県在住、化学メーカーに勤務の21歳です。<br class="u-hidden-md-down">
                ハイクオリティでスピーディなコーディングができるマークアップエンジニアを目指して日々勉強中です。<br>
                詳しい経歴などは<a href="/about/" class="u-weight700 u-under-line"><span class="u-family-en">ABOUT</span>ページ</a>をご覧ください。
              </p>
              <div class="p-home-about__link-wrapper">
                <a href="/about/" class="c-button-primary">
                  VIEW MORE
                </a>
              </div>
            </section>
          </div>

        </section>
      </div>

      <section class="p-vision l-home__vision">
        <h2 class="c-section-heading js-trigger">
          <span class="c-section-heading__en is-wrap">
            <span class="is-slide-up">
              VISION
            </span>
          </span>
          <span class="c-section-heading__ja is-fade-up">
            ビジョン
          </span>
        </h2>
        <div class="p-vision__contents p-intro js-trigger">
          <h3 class="p-intro__heading">
            <span class="is-wrap">
              <span class="is-slide-up">
                CODING FOR
              </span>
            </span>
            <span class="is-wrap">
              <span class="is-slide-up u-delay01">
                FURTHER POLISH.
              </span>
            </span>
          </h3>
          <p class="p-intro__text is-fade-up u-delay02">
            「100%完成されたデザインがあれば、それを120%にできる。」
            <br>
            <br>
            常に想像以上のものを創れるエンジニアを目指します。
          </p>
        </div>
      </section>

      <section class="p-home-works l-home__works">
        <h2 class="c-section-heading js-trigger">
          <span class="c-section-heading__en is-wrap">
            <span class="is-slide-up">
              WORKS
            </span>
          </span>
          <span class="c-section-heading__ja is-fade-up">
            制作実績
          </span>
        </h2>

        <div class="p-home-works__contents js-trigger">
          <ul class="p-home-works__cards is-fade-up">
            <li class="p-home-works__card">
              <a href="/site-detail/" class="p-card-works">
                <div class="p-card-works__img-wrapper">                    
                  <img data-src="/img/common/works-portfolio.png" src="/img/common/placeholder.png" class="p-card-works__img lazyload"width="552" height="291" loading="lazy" alt="作品のタイトル">
                </div>
                <div class="p-card-works__body">
                  <h3 class="p-card-works__title">ポートフォリオサイト</h3>
                  <p class="p-card-works__sub-title">本サイト</p>
                </div>
              </a>
            </li>
            <li class="p-home-works__card">
              <a href="" class="p-card-works">
                <div class="p-card-works__img-wrapper">
                  <img data-src="/img/common/pf.open.jpeg" src="/img/common/placeholder.png" class="p-card-works__img lazyload"
                    width="552" height="291" loading="lazy" alt="作品のタイトル">
                </div>
                <div class="p-card-works__body">
                  <h3 class="p-card-works__title">Open Cafe</h3>
                  <p class="p-card-works__sub-title">LP</p>
                </div>
              </a>
            </li>
            <li class="p-home-works__card">
              <a href="" class="p-card-works">
                <div class="p-card-works__img-wrapper">                    
                  <img data-src="/img/common/pf.minami.jpeg" src="/img/common/placeholder.png" class="p-card-works__img lazyload"width="552" height="291" loading="lazy" alt="作品のタイトル">
                </div>
                <div class="p-card-works__body">
                  <h3 class="p-card-works__title">みなみ歯科クリニック</h3>
                  <p class="p-card-works__sub-title">歯医者さんのサイト</p>
                </div>
              </a>
            </li>
            <li class="p-home-works__card">
              <a href="" class="p-card-works">
                <div class="p-card-works__img-wrapper">                    
                  <img data-src="/img/common/pf.global.jpeg" src="/img/common/placeholder.png" class="p-card-works__img lazyload"width="552" height="291" loading="lazy" alt="作品のタイトル">
                </div>
                <div class="p-card-works__body">
                  <h3 class="p-card-works__title">Garden Salad</h3>
                  <p class="p-card-works__sub-title">コーポレートサイト</p>
                </div>
              </a>
            </li>
          </ul>
          <div class="p-home-works__link-wrapper">
            <a href="/about/" class="c-button-primary">
              VIEW ALL
            </a>
          </div>
        </div>
      </section>

      <section class="p-info l-home__info">
        <h2 class="c-section-heading js-trigger">
          <span class="c-section-heading__en is-wrap">
            <span class="is-slide-up">
              INFORMATION
            </span>
          </span>
          <span class="c-section-heading__ja is-fade-up">
            お知らせ&nbsp;&nbsp;ブログ
          </span>
        </h2>
        <div class="p-info__contents js-trigger">
          <ul class="p-info__list is-fade-up">
            <li class="p-info__item">
              <a href="" class="p-info-item">
                <time class="p-info-item__date" datetime="">
                  2022.01.10
                  <svg class="c-svg p-info-item__svg u-hidden-md-up" width="27" height="27">
                    <use xlink:href="/img/svg/sprite.min.svg#pen" />
                  </svg>
                </time>
                <h3 class="p-info-item__title">
                  Webサイトを公開しました。                  
                </h3>
              </a>
            </li>
            <li class="p-info__item">
              <a href="" class="p-info-item">
                <time class="p-info-item__date" datetime="">
                  2021.01.01
                  <svg class="c-svg p-info-item__svg u-hidden-md-up" width="27" height="27">
                    <use xlink:href="/img/svg/sprite.min.svg#pen" />
                  </svg>
                </time>
                <h3 class="p-info-item__title">
                  あけましておめでとうございます。 今年もよろしくお願いします。                 
                </h3>
              </a>
            </li>
          </ul>
          <div class="p-info__link-wrapper">
            <a href="/information/" class="c-button-primary">
              VIEW ALL
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

<%- include('./common/_footer', {pageId:pageId }) %>