<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="l-home">
  <div class="inner-block">
    homeです
  </div>
</main>



<%- include('./common/_footer', {pageId:pageId }) %>