<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="l-home p-home">
  <div class="l-container">
    <!--ファーストビュー-->
    <section id="js-first-view" class="p-first-view">
      <div class="p-first-view__inner">
        <h2 class="p-first-view__head">
          <span class="p-first-view__heading is-wrap" style="transform: translate(0px, 0px);">
            <span class="is-slide-up u-delay01">
              KOKORO TOBITA
            </span>
          </span>
          <span class="p-first-view__heading is-wrap" style="transform: translate(0px, 0px);">
            <span class="is-slide-up u-delay02">
              WEB PRODUCTION
            </span>
          </span>
          <span class="p-first-view__heading is-wrap" style="transform: translate(0px, 0px);">
            <span class="is-slide-up u-delay03">
              PORTFOLIO.
            </span>
          </span>
        </h2>
        <p class="p-first-view__text is-fade-up u-delay04">
          Creator based in Japan - Ibaraki & Tokyo
        </p>
        <span class="p-first-view__arrow" data-scroll data-scroll-speed="-2">
          ↓
        </span>
      </div>
    </section>
    <!--/ファーストビュー-->

    <!--私について-->
    <section class="p-home-about l-home__profile">
      <h2 class="p-home-about__heading" data-scroll data-scroll-speed="-0.7" data-scroll-direction="horizontal">
        ABOUT ME
      </h2>
      <div class="p-home-about__profile js-trigger">
          <h3 class="p-home-about__name is-fade-up">
            <span class="p-home-about__name-en">
              Kokoro Tobita
            </span>
            <span class="p-home-about__name-ja">
              飛田 心
            </span>
          </h3>
          <div class="p-home-about__body is-fade-up u-delay01">
            <p class="p-home-about__text">
              2000年生まれ、茨城県在住のAB型。<br>
              高校卒業後、化学メーカーに勤務しながら独学でマークアップ、フロントエンド、Webデザインを学んでいます。
              出来ない事を出来るようになるまで行動し達成できた時の喜びを感じるのが大好きです。
            </p>
            <p class="p-home-about__text">
              【Skills】
              <br>
              Photoshop / Illustrator / XD / Figma <br>
              HTML / CSS / Scss / Javascript / WordPress <br>
              Git / Gulp / webpack / vscode
            </p>
          </div>
          <div class="p-home-about__link-wrapper is-fade-up u-delay02">
            <a href="/about/" class="c-button-primary">
              VIEW MORE
            </a>
          </div>
      </div>
    </section>
    <!--私について-->
  </div>

  <div class="l-container l-container--large">
    <!--制作実績-->
    <section id="works" class="p-works l-home__works">
      <h2 class="p-works__heading" data-scroll data-scroll-speed="0.7" data-scroll-direction="horizontal">
        WORKS
      </h2>
      <div class="p-works__inner">
        <!--pc時作品のタイトル、詳細-->
        <div data-scroll data-scroll-sticky data-scroll-target="#js-works-mask">
          <ul class="p-works__content u-hidden-lax-down">
            <li data-id="#js-global" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Global Standard
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Corporate Site / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  世界で活躍できるグローバルな人材を育てる、架空事業会社のコーポレートサイトのコーディング、WordPress化を行いました。
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/global-standard/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </li>

            <li data-id="#js-open" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Open Cafe
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Cafe Site / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  最高のコーヒーと、 時の流れを味わうことができる「Open Cafe - dish & coffee」架空カフェサイトのコーディング、WordPress化を行いました。
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/open-cafe/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </li>

            <li data-id="#js-minami" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Minami Dental
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Dental Site / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  健康的で素敵な笑顔あふれる街づくりを目指す「みなみ歯科クリニック」架空歯科医院サイトのコーディング、WordPress化を行いました。
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/minami-dental/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </li>

            <li data-id="#js-garden" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Garden Salad
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Cafe Site / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  健康的なのに美味しい、SNSで拡散したくなるようなサラダ「Garden Salad」架空サラダカフェサイトのコーディングを行いました。
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/garden-salad/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </li>

            <li data-id="#js-blog" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Tech Blog
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Blog Site / Design / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  「Next Blog」個人アウトプット用の技術ブログ
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </li>
          </ul>
        </div>
        <!--/pc時作品のタイトル、詳細-->

        <!--モック、sp時作品のタイトル、詳細-->
        <div class="p-works__items">
          <div id="js-global" class="p-works__item p-works-item js-follow-targets">
            <figure class="p-works-item__figure">
              <a href="/global-standard/" class="p-works-item__img-link" style="transform: translate(0px, 0px);">

                <picture class="p-works-item__picture p-works-item__picture--sp"  data-scroll data-scroll-speed="2.5" data-scroll-delay="0.1" >
                  <source srcset="/img/webp/sp-global-test.webp" class="p-works-item__img" type="image/webp"style="transform: translate(0px, 0px);"/>
                  <img src="/img/common/sp-global-test.png" class="p-works-item__img" width="357.11" height="719.28" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture p-works-item__picture--tab" data-scroll data-scroll-speed="1" data-scroll-delay="0.1">
                  <source srcset="/img/webp/tab-global.webp" class="p-works-item__img" type="image/webp"style="transform: translate(0px, 0px);"/>
                  <img src="/img/common/tab-global-test.png" class="p-works-item__img" width="508.89" height="712.05" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture p-works-item__picture--pc">
                  <source srcset="/img/webp/pc-global-test.webp" class="p-works-item__img" type="image/webp"/>
                  <img src="/img/common/pc-global-test.png" class="p-works-item__img" width="803.52" height="510.33" alt="作品のタイトル" style="transform: translate(0px, 0px);">             
                </picture>

              </a>
            </figure>    
            <div class="p-works-item__body">
              <h3 class="p-works-item__title">
                Global Standard
              </h3><br>
              <p class="p-works-item__category">
                Corporate Site / Coding
              </p><br>
              <p class="p-works-item__text">
                世界で活躍できるグローバルな人材を育てる、架空事業会社のコーポレートサイトのコーディング、WordPress化を行いました。
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary">VIEW MORE</a>
              </div>
            </div>
          </div>
          <div id="js-open" class="p-works__item p-works-item js-follow-targets">
            <figure class="p-works-item__figure">
              <a href="/open-cafe/" class="p-works-item__img-link" style="transform: translate(0px, 0px);">
                <picture class="p-works-item__picture p-works-item__picture--sp" data-scroll data-scroll-speed="2.5" data-scroll-delay="0.1">
                  <source srcset="/img/webp/sp-open-test.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/sp-open-test.png" class="p-works-item__img"  width="357.11" height="719.28" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture p-works-item__picture--tab" data-scroll data-scroll-speed="1" data-scroll-delay="0.1">
                  <source srcset="/img/webp/tab-open-test.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/tab-open-test.png" class="p-works-item__img"  width="508.89" height="712.05" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture p-works-item__picture--pc">
                  <source srcset="/img/webp/pc-open-test.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/pc-open-test.png" class="p-works-item__img"  width="803.52" height="510.33" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>
              </a>
            </figure>
            <div class="p-works-item__body">
              <h3 class="p-works-item__title">
                Open Cafe
              </h3><br>
              <p class="p-works-item__category">
                Cafe Site / Coding
              </p><br>
              <p class="p-works-item__text">
                最高のコーヒーと、 時の流れを味わうことができる「Open Cafe - dish & coffee」架空カフェサイトのコーディング、WordPress化を行いました。
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary">VIEW MORE</a>
              </div>
            </div>
          </div>  
          <div id="js-minami" class="p-works__item p-works-item js-follow-targets">
            <figure class="p-works-item__figure">
              <a href="/minami-dental/" class="p-works-item__img-link" style="transform: translate(0px, 0px);">

                <picture class="p-works-item__picture  p-works-item__picture--sp" data-scroll data-scroll-speed="2.5" data-scroll-delay="0.1">
                  <source srcset="/img/webp/sp-minami-test.webp" class="p-works-item__img" type="image/webp"/>
                  <img src="/img/common/sp-minami-test.png" class="p-works-item__img"  width="357.11" height="719.28" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture  p-works-item__picture--tab" data-scroll data-scroll-speed="1" data-scroll-delay="0.1">
                  <source srcset="/img/webp/tab-minami02-test.webp" class="p-works-item__img" type="image/webp"/>
                  <img src="/img/common/tab-minami02-test.png" class="p-works-item__img"  width="508.89" height="712.05" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture  p-works-item__picture--pc">
                  <source srcset="/img/webp/pc-minami-test.webp" class="p-works-item__img" type="image/webp"/>
                  <img src="/img/common/pc-minami-test.png" class="p-works-item__img"  width="803.52" height="510.33" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>
              </a>
            </figure>
            <div class="p-works-item__body">
              <h3 class="p-works-item__title">
                Minami Dental
              </h3><br>
              <p class="p-works-item__category">
                Dental Site / Coding
              </p><br>
              <p class="p-works-item__text">
                健康的で素敵な笑顔あふれる街づくりを目指す「みなみ歯科クリニック」架空歯科医院サイトのコーディング、WordPress化を行いました。
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="/minami-dental/" class="c-button-primary">VIEW MORE</a>
              </div>
            </div>
          </div>
          <div id="js-garden" class="p-works__item p-works-item js-follow-targets">
            <figure class="p-works-item__figure">
              <a href="/garden-salad/" class="p-works-item__img-link" style="transform: translate(0px, 0px);">

                <picture class="p-works-item__picture p-works-item__picture--sp" data-scroll data-scroll-speed="2.5" data-scroll-delay="0.1">
                  <source srcset="/img/webp/sp-garden-test.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/sp-garden-test.png" class="p-works-item__img"  width="357.11" height="719.28" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture p-works-item__picture--tab" data-scroll data-scroll-speed="1" data-scroll-delay="0.1">
                  <source srcset="/img/webp/tab-garden02-test.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/tab-garden02-test.png" class="p-works-item__img"  width="508.89" height="712.05" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture p-works-item__picture--pc">
                  <source srcset="/img/webp/pc-garden-test.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/pc-garden-test.png" class="p-works-item__img"  width="803.52" height="510.33" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>
              </a>
            </figure>    
            <div class="p-works-item__body">
              <h3 class="p-works-item__title">
                Garden Salad
              </h3><br>
              <p class="p-works-item__category">
                Cafe Site / Coding
              </p><br>
              <p class="p-works-item__text">
                健康的なのに美味しい、SNSで拡散したくなるようなサラダ「Garden Salad」架空サラダカフェサイトのコーディングを行いました。
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary">VIEW MORE</a>
              </div>
            </div>
          </div>
          <div id="js-blog" class="p-works__item p-works-item js-follow-targets">
            <figure class="p-works-item__figure">
              <a href="" class="p-works-item__img-link" style="transform: translate(0px, 0px);">

                <picture class="p-works-item__picture p-works-item__picture--sp"  data-scroll data-scroll-speed="2.5" data-scroll-delay="0.1" >
                  <source srcset="/img/webp/sp-blog.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/sp-blog.png" class="p-works-item__img"  width="357.11" height="719.28" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture p-works-item__picture--tab"  data-scroll data-scroll-speed="2.5" data-scroll-delay="0.1">
                  <source srcset="/img/webp/tab-blog.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/tab-blog.png" class="p-works-item__img"  width="508.89" height="712.05" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>

                <picture class="p-works-item__picture p-works-item__picture--pc">
                  <source srcset="/img/webp/pc-blog.webp" class="p-works-item__img" type="image/webp" />
                  <img src="/img/common/pc-blog.png" class="p-works-item__img"  width="803.52" height="510.33" alt="作品のタイトル" style="transform: translate(0px, 0px);">
                </picture>
              </a>
            </figure>
            <div class="p-works-item__body">
              <h3 class="p-works-item__title">
                Tech Blog
              </h3><br>
              <p class="p-works-item__category">
                Blog Site / Design / Coding
              </p><br>
              <p class="p-works-item__text">
                「Next Blog」個人アウトプット用の技術ブログ
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary">VIEW MORE</a>
              </div>
            </div>
          </div>
        </div>
        <!--/モック、sp時作品のタイトル、詳細-->
        <div id="js-works-mask" class="p-works__mask"></div>
      </div>
    </section>
    <!--/制作実績-->
  </div>

  <!--お問いわせ-->
  <div class="p-contact-connect" style="transform: translate(0px, 0px);">
    <a href="/contact/" class="p-contact-connect__link">
      <span class="p-contact-connect__link-head">
        Get In Touch
      </span>
      <span class="p-contact-connect__link-foot">
        Contact Me
      </span>
    </a>
  </div>
  <!--/お問いわせ-->
</main>
<%- include('./common/_footer', {pageId:pageId }) %>