<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<main class="l-home p-home">
  <div class="l-container">
    <!--ファーストビュー-->
    <section id="js-first-view" class="p-first-view">
      <div class="p-first-view__inner">
        <h2 class="p-first-view__head">
          <span class="p-first-view__heading is-wrap">
            <span class="is-slide-up u-delay01">
              KOKORO TOBITA
            </span>
          </span>
          <span class="p-first-view__heading is-wrap">
            <span class="is-slide-up u-delay02">
              WEB PRODUCTION
            </span>
          </span>
          <span class="p-first-view__heading is-wrap">
            <span class="is-slide-up u-delay03">
              PORTFOLIO.
            </span>
          </span>
        </h2>
        <p class="p-first-view__text is-fade-up u-delay04">
          Creator based in Japan - Ibaraki & Tokyo
        </p>
        <span class="p-first-view__arrow" data-scroll data-scroll-speed="-2">
          ↓
        </span>
      </div>
    </section>
    <!--/ファーストビュー-->

    <!--私について-->
    <section class="p-home-about l-home__profile">
      <div class="p-home-about__inner">
        <h2 class="p-home-about__heading" data-scroll data-scroll-speed="-0.7" data-scroll-direction="horizontal">
          ABOUT ME
        </h2>
        <div class="p-home-about__profile js-trigger">
          <div class="p-home-about__body is-fade-up">
            <h3 class="p-home-about__name">
              <span class="p-home-about__name-en">
                Kokoro Tobita
              </span>
              <span class="p-home-about__name-ja">
                飛田 心
              </span>
            </h3>
            <p class="p-home-about__text">
              2000年生まれ、茨城県在住のAB型。<br>
              高校卒業後、化学メーカーに勤務しながら独学でマークアップ、フロントエンド、Webデザインを学んでいます。
              出来ない事を出来るようになるまで行動し達成できた時の喜びを感じるのが大好きです。
            </p>
            <p class="p-home-about__text">
              【Skills】
              <br>
              Photoshop / Illustrator / XD / Figma <br>
              HTML / CSS / Scss / Javascript / WordPress <br>
              Git / Gulp / webpack / vscode
            </p>
            <div class="p-home-about__link-wrapper">
              <a href="/about/" class="c-button-primary">
                VIEW MORE
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--私について-->
  </div>

  <div class="l-container--large">
    <!--制作実績-->
    <section class="p-works l-home__works">
      <h2 class="p-works__heading" data-scroll data-scroll-speed="0.7" data-scroll-direction="horizontal">
        WORKS
      </h2>
      <div class="p-works__inner">
        <!--pc時作品のタイトル、詳細-->
        <div data-scroll data-scroll-sticky data-scroll-target="#js-works">
          <div class="p-works__content u-hidden-lax-down">
            <div data-id="#js-global" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Global Standard
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Corporate Site / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  世界で活躍できるグローバルな人材を育てる、架空事業会社のコーポレートサイトのコーディング、WordPress化を行いました。
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </div>

            <div data-id="#js-open" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Open Cafe
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Cafe Site / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  最高のコーヒーと、 時の流れを味わうことができる「Open Cafe - dish & coffee」架空カフェサイトのコーディング、WordPress化を行いました。
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </div>

            <div data-id="#js-minami" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Minami Dental
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Dental Site / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  健康的で素敵な笑顔あふれる街づくりを目指す「みなみ歯科クリニック」架空歯科医院サイトのコーディング、WordPress化を行いました。
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </div>

            <div data-id="#js-garden" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Garden Salad
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Cafe Site / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  健康的なのに美味しい、SNSで拡散したくなるようなサラダ「Garden Salad」架空サラダカフェサイトのコーディングを行いました。
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </div>

            <div data-id="#js-blog" class="p-works-info">
              <div class="p-works-info__number">
                <span class="is-slide-mask">
                </span>
              </div>
              <div class="p-works-info__body">
                <h3 class="p-works-info__title is-slide-mask">
                  Tech Blog
                </h3><br>
                <p class="p-works-info__category is-slide-mask">
                  Blog Site / Design / Coding
                </p><br>
                <p class="p-works-info__text is-slide-mask">
                  「Next Blog」個人アウトプット用の技術ブログ
                </p>
              </div>
              <div class="p-works-info__link-wrapper">
                <a href="/" class="c-button-primary c-button-primary--large is-slide-mask">
                  VIEW MORE
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--/pc時作品のタイトル、詳細-->

        <!--モック、sp時作品のタイトル、詳細-->
        <div class="p-works__items">
          <div id="js-global" class="p-works__item p-works-item js-mock-up">
            <a href="" class="p-works-item__img-wrapper">
              <img src="/img/common/sp-global.png" class="p-works-item__img p-works-item__img--sp" width="357.11" height="719.28" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="3">
              <img src="/img/common/tab-global.png" class="p-works-item__img p-works-item__img--tab" width="508.89" height="712.05" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="1.5">
              <img src="/img/common/pc-global.png" class="p-works-item__img p-works-item__img--pc" width="803.52" height="510.33" loading="lazy" alt="作品のタイトル">             
            </a>    
            <div class="p-works-item__body js-trigger">
              <h3 class="p-works-item__title is-slide-mask">
                Global Standard
              </h3><br>
              <p class="p-works-item__category is-slide-mask">
                Corporate Site / Coding
              </p><br>
              <p class="p-works-item__text is-slide-mask">
                世界で活躍できるグローバルな人材を育てる、架空事業会社のコーポレートサイトのコーディング、WordPress化を行いました。
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary is-slide-mask">VIEW MORE</a>
              </div>
            </div>
          </div>
          <div id="js-open" class="p-works__item p-works-item js-mock-up">
            <a href="" class="p-works-item__img-wrapper">
              <img src="/img/common/sp-open.png" class="p-works-item__img p-works-item__img--sp"  width="357.11" height="719.28" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="3">
              <img src="/img/common/tab-open.png" class="p-works-item__img p-works-item__img--tab"  width="508.89" height="712.05" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="1.5">
              <img src="/img/common/pc-open.png" class="p-works-item__img p-works-item__img--pc"  width="803.52" height="510.33" loading="lazy" alt="作品のタイトル">
            </a>  
            <div class="p-works-item__body js-trigger">
              <h3 class="p-works-item__title is-slide-mask">
                Open Cafe
              </h3><br>
              <p class="p-works-item__category is-slide-mask">
                Cafe Site / Coding
              </p><br>
              <p class="p-works-item__text is-slide-mask">
                最高のコーヒーと、 時の流れを味わうことができる「Open Cafe - dish & coffee」架空カフェサイトのコーディング、WordPress化を行いました。
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary is-slide-mask">VIEW MORE</a>
              </div>
            </div>
          </div>  
          <div id="js-minami" class="p-works__item p-works-item js-mock-up">
            <a href="" class="p-works-item__img-wrapper">
              <img src="/img/common/sp-minami.png" class="p-works-item__img p-works-item__img--sp"  width="357.11" height="719.28" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="3">
              <img src="/img/common/tab-minami02.png" class="p-works-item__img p-works-item__img--tab"  width="508.89" height="712.05" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="1.5">
              <img src="/img/common/pc-minami.png" class="p-works-item__img p-works-item__img--pc"  width="803.52" height="510.33" loading="lazy" alt="作品のタイトル">
            </a>
            <div class="p-works-item__body js-trigger">
              <h3 class="p-works-item__title is-slide-mask">
                Minami Dental
              </h3><br>
              <p class="p-works-item__category is-slide-mask">
                Dental Site / Coding
              </p><br>
              <p class="p-works-item__text is-slide-mask">
                健康的で素敵な笑顔あふれる街づくりを目指す「みなみ歯科クリニック」架空歯科医院サイトのコーディング、WordPress化を行いました。
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary is-slide-mask">VIEW MORE</a>
              </div>
            </div>
          </div>
          <div id="js-garden" class="p-works__item p-works-item js-mock-up">
            <a href="" class="p-works-item__img-wrapper">
              <img src="/img/common/sp-garden.png" class="p-works-item__img p-works-item__img--sp"  width="357.11" height="719.28" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="3">
              <img src="/img/common/tab-garden02.png" class="p-works-item__img p-works-item__img--tab"  width="508.89" height="712.05" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="1.5">
              <img src="/img/common/pc-garden.png" class="p-works-item__img p-works-item__img--pc"  width="803.52" height="510.33" loading="lazy" alt="作品のタイトル">
            </a>    
            <div class="p-works-item__body js-trigger">
              <h3 class="p-works-item__title is-slide-mask">
                Garden Salad
              </h3><br>
              <p class="p-works-item__category is-slide-mask">
                Cafe Site / Coding
              </p><br>
              <p class="p-works-item__text is-slide-mask">
                健康的なのに美味しい、SNSで拡散したくなるようなサラダ「Garden Salad」架空サラダカフェサイトのコーディングを行いました。
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary is-slide-mask">VIEW MORE</a>
              </div>
            </div>
          </div>
          <div id="js-blog" class="p-works__item p-works-item js-mock-up">
            <a href="" class="p-works-item__img-wrapper">
              <img src="/img/common/sp-blog.png" class="p-works-item__img p-works-item__img--sp"  width="357.11" height="719.28" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="3">
              <img src="/img/common/tab-blog.png" class="p-works-item__img p-works-item__img--tab"  width="508.89" height="712.05" loading="lazy" alt="作品のタイトル" data-scroll data-scroll-speed="1.5">
              <img src="/img/common/pc-blog.png" class="p-works-item__img p-works-item__img--pc"  width="803.52" height="510.33" loading="lazy" alt="作品のタイトル">
            </a>
            <div class="p-works-item__body js-trigger">
              <h3 class="p-works-item__title is-slide-mask">
                Tech Blog
              </h3><br>
              <p class="p-works-item__category is-slide-mask">
                Blog Site / Design / Coding
              </p><br>
              <p class="p-works-item__text is-slide-mask">
                「Next Blog」個人アウトプット用の技術ブログ
              </p><br>
              <div class="p-works-item__link-wrapper">
                <a href="" class="c-button-primary is-slide-mask">VIEW MORE</a>
              </div>
            </div>
          </div>
        </div>
        <!--/モック、sp時作品のタイトル、詳細-->
        <div id="js-works" class="p-works__mask"></div>
      </div>
    </section>
    <!--/制作実績-->
  </div>

  <!--お問いわせ-->
  <section class="p-contact-connect">
    <a href="/contact/" class="p-contact-connect__link">
      Contact Me
    </a>
  </section>
  <!--/お問いわせ-->
</main>
<%- include('./common/_footer', {pageId:pageId }) %>