<% let pageId='works' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main>
  <div class="inner-block">
    worksです
  </div>
</main>

<%- include('../common/_footer', {pageId:pageId }) %>