<% let pageId='works' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main class="l-lower-works">
  <div class="l-container">
    <section id="js-first-view" class="p-lower-first-view">
      <h2 class="c-page-heading">
        <span class="c-page-heading__en is-wrap">
          <span class="is-slide-up u-delay05">
            WORKS
          </span>
        </span>
        <span class="c-page-heading__ja is-wrap">
          <span class="is-slide-up u-delay05">
            制作実績
          </span>
        </span>
      </h2>
    </section>
    <section class="p-works l-lower-works__contents">
      <ul class="p-works__cards">
        <li class="p-works__card js-trigger">
          <a href="/single-works/" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <img data-src="/img/common/pf.global.jpeg" src="/img/common/placeholder.png" class="p-card-works__img lazyload" width="720" height="380" loading="lazy" alt="作品のタイトル">
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">Global Standard</h3>
              <p class="p-card-works__sub-title">コーポレートサイト</p>
            </div>
          </a>
        </li>
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <img data-src="/img/common/pf.open.jpeg" src="/img/common/placeholder.png" class="p-card-works__img lazyload" width="720" height="380" loading="lazy" alt="作品のタイトル">
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">Open Cafe</h3>
              <p class="p-card-works__sub-title">LP</p>
            </div>
          </a>
        </li>
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <img data-src="/img/common/pf.minami.jpeg" src="/img/common/placeholder.png" class="p-card-works__img lazyload" width="720" height="380" loading="lazy" alt="作品のタイトル">
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">みなと歯科クリニック</h3>
              <p class="p-card-works__sub-title">LP</p>
            </div>
          </a>
        </li>
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <img data-src="/img/common/pf.garden.jpeg" src="/img/common/placeholder.png" class="p-card-works__img lazyload" width="720" height="380" loading="lazy" alt="作品のタイトル">
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">Garden Salad</h3>
              <p class="p-card-works__sub-title">LP</p>
            </div>
          </a>
        </li>
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <img data-src="/img/common/img-works.jpeg" src="/img/common/placeholder.png" class="p-card-works__img lazyload" width="720" height="380" loading="lazy" alt="作品のタイトル">
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">COMING SOON</h3>
              <p class="p-card-works__sub-title">近日公開予定</p>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</main>

<%- include('../common/_footer', {pageId:pageId }) %>