<% let pageId='works' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main class="l-lower-works">
  <div class="l-container">
    <section id="js-first-view" class="p-lower-first-view">
      <h2 class="c-page-heading">
        <span class="c-page-heading__en is-wrap">
          <span class="is-slide-up u-delay05">
            WORKS
          </span>
        </span>
        <span class="c-page-heading__ja is-wrap">
          <span class="is-slide-up u-delay05">
            制作実績
          </span>
        </span>
      </h2>
    </section>
    <section class="p-works l-lower-works__contents">
      <ul class="p-works__cards">
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <picture class="p-card-works__picture">
                <source class="p-card-works__img" srcset="/img/webp/img-works.webp" type="image/webp" />
                <img src="/img/common/img-works.jpeg" class="p-card-works__img" alt="作品のタイトル">
              </picture>
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">COMING SOON</h3>
              <p class="p-card-works__sub-title">近日公開予定</p>
            </div>
          </a>
        </li>
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <picture class="p-card-works__picture">
                <source class="p-card-works__img" srcset="/img/webp/img-works.webp" type="image/webp" />
                <img src="/img/common/img-works.jpeg" class="p-card-works__img" alt="作品のタイトル">
              </picture>
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">COMING SOON</h3>
              <p class="p-card-works__sub-title">近日公開予定</p>
            </div>
          </a>
        </li>
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <picture class="p-card-works__picture">
                <source class="p-card-works__img" srcset="/img/webp/img-works.webp" type="image/webp" />
                <img src="/img/common/img-works.jpeg" class="p-card-works__img" alt="作品のタイトル">
              </picture>
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">COMING SOON</h3>
              <p class="p-card-works__sub-title">近日公開予定</p>
            </div>
          </a>
        </li>
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <picture class="p-card-works__picture">
                <source class="p-card-works__img" srcset="/img/webp/img-works.webp" type="image/webp" />
                <img src="/img/common/img-works.jpeg" class="p-card-works__img" alt="作品のタイトル">
              </picture>
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">COMING SOON</h3>
              <p class="p-card-works__sub-title">近日公開予定</p>
            </div>
          </a>
        </li>
        <li class="p-works__card js-trigger">
          <a href="" class="p-card-works">
            <div class="p-card-works__img-wrapper is-mask-black">
              <picture class="p-card-works__picture">
                <source class="p-card-works__img" srcset="/img/webp/img-works.webp" type="image/webp" />
                <img src="/img/common/img-works.jpeg" class="p-card-works__img" alt="作品のタイトル">
              </picture>
            </div>
            <div class="p-card-works__body">
              <h3 class="p-card-works__title">COMING SOON</h3>
              <p class="p-card-works__sub-title">近日公開予定</p>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</main>

<%- include('../common/_footer', {pageId:pageId }) %>