<% let pageId='single-info' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main class="l-single-info p-single-info">
        <div class="l-container">
          <div id="js-first-view" class="l-single-info__heading">
            <div class="c-single-heading">
              <h1 class="c-single-heading__head is-wrap">
                <span class="is-slide-up">
                  おばあちゃんのおせちから始まる2022。
                </span>
              </h1>
              <time datetime="" class="c-single-heading__foot is-fade-up">
                2022.01.01
              </time>
            </div>
          </div>
          <div class="l-single-info__contents p-single-info__contents">
            <p>あけましておめでとうございます。</p>
            <p>今年もよろしくお願いします。</p>
            <h2>h2タイトルが入ります</h2>
            <div class="wp-block-image">
              <img src="/img/common/img-single.jpeg" alt="">
            </div>
            <p>ホームページをリニューアルしました。</p>
            <p>前回は簡単なLPでしたが今回はしっかり作り込む予定です。<br>どんどん新しいページを追加していきます。</p>
            <p>今後ともよろしくお願いします。</p>
            <h3>h3タイトルが入ります</h3>
            <p>ホームページをリニューアルしました。</p>
            <p>前回は簡単なLPでしたが今回はしっかり作り込む予定です。<br>どんどん新しいページを追加していきます。</p>
            <p>今後ともよろしくお願いします。</p>
            <h4>h4タイトルが入ります</h4>
            <p>ホームページをリニューアルしました。</p>
            <p>前回は簡単なLPでしたが今回はしっかり作り込む予定です。<br>どんどん新しいページを追加していきます。</p>
            <p>今後ともよろしくお願いします。</p>
          </div>
          <div class="p-single-info__link-wrapper">
            <a href="/information/" class="c-button-primary">
              BACK INFORMATION
            </a>
          </div>
        </div>
      </main>

      <%- include('../common/_footer', {pageId:pageId }) %>