@use "foundation/global";

// Component ドロワーボタン
//--------------------------------------------------------------------------

.c-button-drawer {
  position: relative;
  width: 32px;
  height: inherit;
}

.c-button-drawer__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 1.5px;
  background-color: global.$color-base;
  transition: width 0.3s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 1.5px;
    background-color: global.$color-base;
    transition: transform 0.6s global.ease(out-quint);
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

//ドロワーアクティブ時
.is-drawer-active {
  .c-button-drawer__line {
    width: 0;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  //ドロワーアクティブ時かつヘッダーの乗算が外れている時
  .is-blend-normal {
    .c-button-drawer__line {
      &::before,
      &::after {
        background-color: global.$color-primary;
      }
    }
  }
}
