@use "foundation/global";

// Component primaryボタン
//--------------------------------------------------------------------------

.c-button-primary {
  position: relative;
  display: inline-block;
  padding-left: 26px;
  @include global.fz(16, 18);
  @include global.lh(2);
  font-family: global.$font-family-en;
  font-weight: 500;
  @include global.mq(md) {
    padding-left: 34px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: global.$color-primary;

    @include global.mq(md) {
      width: 20px;
    height: 20px;
    }
  }
}

.c-button-primary--large {
  letter-spacing: -0.01em;
  padding-left: max(34px, #{global.vw(34)});

  &::before {
    width: max(20px, #{global.vw(20)});
    height: max(20px, #{global.vw(20)});
  }

  @include global.mq(md) {
    font-size: max(24px, #{global.vw(24)});
  }
}