@use "foundation/global";

// Component primaryボタン
//--------------------------------------------------------------------------

.c-button-primary {
  position: relative;
  display: inline-block;
  padding-left: 34px;
  @include global.fz(16, 18);
  @include global.lh(1);
  font-family: global.$font-family-en;
  font-weight: 400;
  color: global.$color-black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: global.$color-accent;
  }
}