@use "foundation/global";

// Component ページ見出し
//--------------------------------------------------------------------------

.c-page-heading__en {
  font-size: max(52px, 8vw);
  @include global.lh(1);
  font-family: global.$font-family-en;
  font-weight: 400;
  letter-spacing: -0.01em;
  white-space: nowrap;

  @include global.mq(lax) {
    font-size: max(60px, #{global.vw(133)});
  }
}

.c-page-heading__en {
  @include global.mq(md) {
    &:not(:first-child) {
      padding-left: 18vw;
    }
  }
}

.c-page-heading__ja {
  margin-top: 10px;
  color: global.$color-primary;
  @include global.fz(14, 16);
  @include global.lh(1);
  font-weight: 400;

  @include global.mq(md) {
    margin-top: 12px;
  }
}
