@use "foundation/global";

// Utility transition-delay
//--------------------------------------------------------------------------

.u-delay01 {
  transition-delay: 0.1s;
}

.u-delay02 {
  transition-delay: 0.2s;
}

.u-delay03 {
  transition-delay: 0.3s;
}

.u-delay04 {
  transition-delay: 0.4s;
}

.u-delay05 {
  transition-delay: 0.5s;
}

.u-delay06 {
  transition-delay: 0.6s;
}