@use "foundation/global";

// Animation フェードアップ
//--------------------------------------------------------------------------

.is-fade-up {
  display: block;
  opacity: 0;
  transition: 
    opacity 2s global.ease(out-expo),
    transform 2s global.ease(out-expo)
  ;
  transform: translateY(30px);
}

.is-fade-up--short {
  transform: translateY(15px);
}

//トリガー発火後
.is-inview {
  .is-fade-up {
    opacity: 1;
    transform: translateY(0);
  }
}