@use "foundation/global";

// javascript マスク
//--------------------------------------------------------------------------

//背景が黒の場合
.is-mask-black {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: map-get(global.$layer, default);
    width: 100%;
    height: 100%;
    background-color: global.$color-black;
    transition: width 3s global.ease(out-quint);
  }
}

//背景が白の場合
.is-mask-white {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: map-get(global.$layer, default);
    width: 100%;
    height: 100%;
    background-color: global.$color-base;
    transition: width 3s global.ease(out-quint);
  }
}

//トリガー発火後
.is-active {
  .is-mask-white {
    &::after {
      width: 0;
    }
  }

  .is-mask-black {
    &::after {
      width: 0;
    }
  }
}