@use "foundation/global";

// javascript スケールイン
//--------------------------------------------------------------------------

.is-scale-in {
  transform: scale(1, 1.2);
  transition: transform 2s global.ease(out-quint);
}

//トリガー発火後
.is-active {
  .is-scale-in {
    transform: scale(1 ,1);
  }
}