@use "foundation/global";

// Javascript スライドアップ
//--------------------------------------------------------------------------

//スライドアップ
.is-wrap {
  display: block;
  overflow: hidden;
}

.is-slide-up {
  display: inline-block;
  will-change: transform;
  transform: translateY(120%);
  transition: transform 1.7s global.ease(out-expo);
}

//トリガー発火後
.is-active {
  .is-slide-up {
    transform: translateY(0);
  }
}
