<% let pageId='information' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main class="l-lower-info">
        <div class="l-container">
          <div id="js-first-view" class="p-lower-first-view">
            <h2 class="c-page-heading">
              <span class="c-page-heading__en is-wrap">
                <span class="is-slide-up u-delay05">
                  INFORMATION
                </span>
              </span>
              <span class="c-page-heading__ja is-wrap">
                <span class="is-slide-up u-delay05">
                  お知らせ
                </span>
              </span>
            </h2>
          </div>

          <div class="p-info l-lower-info__contents js-trigger">
            <ul class="p-info__list is-fade-up">
              <li class="p-info__item">
                <a href="/single-info/" class="p-info-item">
                  <time class="p-info-item__date" datetime="">
                    2022.01.10
                    <svg class="c-svg p-info-item__svg u-hidden-md-up" width="27" height="27">
                      <use xlink:href="/img/svg/sprite.min.svg#pen" />
                    </svg>
                  </time>
                  <h3 class="p-info-item__title">
                    おばあちゃんのおせちから始まる2022。
                  </h3>
                </a>
              </li>
              <li class="p-info__item">
                <a href="" class="p-info-item">
                  <time class="p-info-item__date" datetime="">
                    2021.01.01
                    <svg class="c-svg p-info-item__svg u-hidden-md-up" width="27" height="27">
                      <use xlink:href="/img/svg/sprite.min.svg#pen" />
                    </svg>
                  </time>
                  <h3 class="p-info-item__title">
                    あけましておめでとうございます。 今年もよろしくお願いします。
                  </h3>
                </a>
              </li>
              <li class="p-info__item">
                <a href="" class="p-info-item">
                  <time class="p-info-item__date" datetime="">
                    2021.01.01
                    <svg class="c-svg p-info-item__svg u-hidden-md-up" width="27" height="27">
                      <use xlink:href="/img/svg/sprite.min.svg#pen" />
                    </svg>
                  </time>
                  <h3 class="p-info-item__title">
                    新潟県舞子市に行ってきました。
                  </h3>
                </a>
              </li>
              <li class="p-info__item">
                <a href="" class="p-info-item">
                  <time class="p-info-item__date" datetime="">
                    2021.01.01
                    <svg class="c-svg p-info-item__svg u-hidden-md-up" width="27" height="27">
                      <use xlink:href="/img/svg/sprite.min.svg#pen" />
                    </svg>
                  </time>
                  <h3 class="p-info-item__title">
                    あけましておめでとうございます。 今年もよろしくお願いします。
                  </h3>
                </a>
              </li>
              <li class="p-info__item">
                <a href="" class="p-info-item">
                  <time class="p-info-item__date" datetime="">
                    2021.01.01
                    <svg class="c-svg p-info-item__svg u-hidden-md-up" width="27" height="27">
                      <use xlink:href="/img/svg/sprite.min.svg#pen" />
                    </svg>
                  </time>
                  <h3 class="p-info-item__title">
                    あけましておめでとうございます。 今年もよろしくお願いします。
                  </h3>
                </a>
              </li>
              <li class="p-info__item">
                <a href="" class="p-info-item">
                  <time class="p-info-item__date" datetime="">
                    2021.01.01
                    <svg class="c-svg p-info-item__svg u-hidden-md-up" width="27" height="27">
                      <use xlink:href="/img/svg/sprite.min.svg#pen" />
                    </svg>
                  </time>
                  <h3 class="p-info-item__title">
                    あけましておめでとうございます。 今年もよろしくお願いします。
                  </h3>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </main>

      <%- include('../common/_footer', {pageId:pageId }) %>