<% let pageId='vision' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main>
        <div class="inner-block">
          visionページです
        </div>
      </main>

    <%- include('../common/_footer', {pageId:pageId }) %>