@use "foundation/global";

// Layout .l-container
//--------------------------------------------------------------------------

.l-container {
  max-width: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.l-container--large {
  width: 93%;
}

.l-container--small {
  @include global.mq(md) {
    width: 85%;
  }
}