@use "foundation/global";

// Layout コンテナ
//--------------------------------------------------------------------------

.l-container {
  max-width: global.$layout-width-container;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}