@use "foundation/global";

// Layout フッター
//--------------------------------------------------------------------------

.l-footer {
  position: relative;
  z-index: map-get(global.$layer, footer);
  width: 100%;
  height: 120vh;

  @include global.mq(md) {
    height: 100vh;
  }
}

.l-footer__inner {
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}
