
@use "foundation/global";

// Layout フッター
//--------------------------------------------------------------------------

.l-footer {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: map-get(global.$layer, default);
}

.l-footer__inner {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}