@use "foundation/global";

// Layout ヘッダー
//--------------------------------------------------------------------------

.l-header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: map-get(global.$layer, header);
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s;

  @include global.mq(md) {
    width: 95%;
  }

  @include global.mq(lax) {
    position: absolute;
  }
}