@use "foundation/global";

// Layout トップページ
//--------------------------------------------------------------------------

//プロフィール
.l-home__profile {
  width: 100%;
  padding-bottom: 136px;

  @include global.mq(xl) {
    padding: min(84px, #{global.vw(84)}) 0 0;
  }
}

// 制作実績
.l-home__works {
  width: 100%;
  padding: 100px 0 180px;

  @include global.mq(md) {
    padding: 45vh 0 260px;
  }
}
