@use "foundation/global";

// Layout ヘッダー
//--------------------------------------------------------------------------

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: map-get(global.$layer, header);
  width: 100%;
}
