@use "foundation/global";

// Layout worksページ
//--------------------------------------------------------------------------

.l-lower-works {
  background-color: global.$color-black;
  color: global.$color-base;
}

.l-lower-works__contents {
  padding-bottom: 120px;

  @include global.mq(md) {
    padding-bottom: 240px;
  }
}