@use "foundation/global";

// Layout お問い合わせページ
//--------------------------------------------------------------------------

.l-lower-contact {
  padding-bottom: 80px;

  @include global.mq(md) {
    padding-bottom: 160px;
  }
}

.l-lower-contact__contents {
  max-width: 790px;
  width: 100%;
}

.l-lower-contact__thanks {
  padding-bottom: 160px;
}