@use "foundation/global";

// Layout お知らせシングルページ
//--------------------------------------------------------------------------

.l-single-info {
  padding-bottom: 160px;

  @include global.mq(md) {
    padding-bottom: 240px;
  }
}

.l-single-info__heading {
  margin-top: 80px;

  @include global.mq(md) {
    margin-top: 160px;
  }
}

.l-single-info__contents {
  margin-top: 44px;

  @include global.mq(md) {
    margin-top: 160px;
  }
}