@use "foundation/global";

// Layout 制作実績シングルページ
//--------------------------------------------------------------------------
.l-single-works__first-view {
  padding: 20vh 0 8vh 2vw;

  @include global.mq(lax) {
    padding: 15vw 0 7vw 9.5vw;
  }
}

.l-single-works__detail {
  padding-bottom: max(134px, #{global.vw(260)});
}
