@use "foundation/global";

// Layout 制作実績シングルページ
//--------------------------------------------------------------------------

.l-single-works {
}

.l-single-works__first-view {
  padding: 20vh 0 8vh 2vw;

  @include global.mq(lax) {
    padding: 15vw 0 7vw 12vw;
  }
}

.l-single-works__figure {
  padding-bottom: max(84px, #{global.vw(84)});
}

.l-single-works__contents {
  padding-bottom: 134px;

  @include global.mq(md) {
    padding-top: global.vw(84);
    padding-bottom: 260px;
  }
}