@use "foundation/global";

// Project コンテンツエリア
//--------------------------------------------------------------------------

.p-contents {
  background-color: global.$color-black;
  color: global.$color-base;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
