@use "foundation/global";

// Project お問い合わせ完了
//--------------------------------------------------------------------------

.p-contact-thanks {
  @include global.mq(md) {
    margin-left: 18.5vw;
  }
}

.p-contact-thanks__arrow {
  @include global.mq(md) {
    transform: translateX(-4%);
  }
}

.p-contact-thanks__arrow-svg {
  width: 28px;
  height: 28px;

  @include global.mq(md) {
    width: 40px;
    height: 40px;
  }
}

.p-contact-thanks__text {
  margin-top: 12px;
  @include global.fz(14, 16);
  @include global.lh(2);
  font-weight: 400;

  @include global.mq(md) {
    margin-top: 24px;
  }
}

.p-contact-thanks__link-wrapper {
  margin-top: 35px;

  @include global.mq(md) {
    margin-top: 56px;
  }
}
