@use "foundation/global";

// Project 経歴
//--------------------------------------------------------------------------

.p-career__contents {
  width: 100%;
  margin-top: 84px;

  @include global.mq(xl) {
    width: 75vw;
    margin-top: calc(84px + max(50px, #{global.vw(60)}));
    margin-left: auto;
  }
}

.p-career__dl {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    height: 100%;
    width: 2px;
    background-color: global.$color-primary;
    z-index: 1;

    @include global.mq(md) {
      left: 50px;
    }

    @include global.mq(xl) {
      left: 0;
    }
  }
}

.p-career__row {
  position: relative;
  background-color: global.$color-base-dark;
  padding: 40px 25px 40px 55px;

  @include global.mq(md) {
    padding: 4vw 9vw 4vw 13vw;
  }

  @include global.mq(xl) {
    padding: max(40px, #{global.vw(40)}) max(80px, #{global.vw(80)});
  }

  &:not(:first-child) {
    margin-top: 56px;

    @include global.mq(md) {
      margin-top: 136px;
    }
  }
}

.p-career__date {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 14px;
  background-color: global.$color-primary;
  color: global.$color-base;
  font-weight: 500;
  font-family: global.$font-family-en;

  @include global.mq(md) {
    top: min(-50px, #{global.vw(-60)});
    width: max(100px, #{global.vw(120)});
    height: max(100px, #{global.vw(120)});
    font-size: max(24px, #{global.vw(24)});
  }

  @include global.mq(xl) {
    left: min(-30px, #{global.vw(-60)});
  }
}

.p-career__dt {
  position: relative;
  @include global.lh(1.44);
  font-weight: 600;
  font-family: global.$font-family-ja;

  @include global.mq(md) {
    font-size: max(24px, #{global.vw(24)});
  }
}

.p-career__dd {
  margin-top: 7px;
  @include global.fz(14, 16);
  @include global.lh(1.9, 2);
  font-weight: 400;
  font-family: global.$font-family-ja;
  text-align: justify;
  letter-spacing: 0.01em;

  @include global.mq(md) {
    margin-top: 14px;
  }
}

.p-career__dd--two-column {
  @include global.mq(xl) {
    display: flex;
    justify-content: space-between;
  }
}

.p-career__dd-heading {
  position: relative;
  display: inline-block;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 6px;
  @include global.lh(1.7);
  @include global.fz(16, 18);

  @include global.mq(md) {
    margin-bottom: 12px;
    padding-left: 17px;
    &::before {
      content: "⚫︎";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.p-career__dd-text {
  @include global.mq(xl) {
    width: calc(60% - 8% / 2);
  }
}

.p-career__dd--pictures {
  margin-top: 24px;

  @include global.mq(md) {
    margin-top: 40px;
  }

  @include global.mq(xl) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.p-career__dd-picture {
  display: block;
  margin-top: 52px;

  @include global.mq(xl) {
    width: calc(40% - 8% / 2);
    margin-top: 0;
  }
}

.p-career__dd-picture--link {
  &:hover,
  &:focus {
    .p-career__dd-caption--link {
      background-position: bottom left;
      background-size: 100% 1px;
    }
  }
}

.p-career__dd-caption {
  @include global.fz(12, 14);
  @include global.lh(1.7);
}

.p-career__dd-caption--link {
  position: relative;
  display: inline-block;
  transition: color 0.4s ease-in-out;
  background: linear-gradient(transparent 0, global.$color-primary 40%) no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  transition: background-size 0.6s global.ease(out-quint);

  svg {
    transform: translateY(9%);
    @include global.mq(md) {
      width: 14px;
      height: 14px;
    }
  }
}
