@use "foundation/global";

// Project ドロワーナビゲーション
//--------------------------------------------------------------------------

.p-drawer-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: map-get(global.$layer, drawer-nav);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  min-height: 100vh; // フォールバック 
  min-height: calc(var(--vh, 1vh) * 100);
  color: global.$color-primary;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background-color: global.$color-base;
    transition: transform 0.6s global.ease(out-quint);
  }
}

.p-drawer-nav__inner {
  width: 60%;
}

.p-drawer-nav__list {
  display: flex;
  flex-direction: column;
}

.p-drawer-nav__item {
  overflow: hidden;
  &:not(:first-child) {
    margin-top: 32px;
  }
}

.p-drawer-nav__link {
  display: block;
  @include global.fz(28);
  @include global.lh(1);
  font-weight: 500;
  transform: translateY(1em);
}

.p-drawer-nav__svg {
  width: 19px;
  height: 19px;
  color: global.$color-primary;
}

.p-drawer-nav__text {
  opacity: 0;
  margin-top: 32px;
  @include global.fz(14);
  @include global.lh(1.4);
  letter-spacing: 1px;
  font-weight: 500;
}

.p-drawer-nav__sns {
  display: flex;
  opacity: 0;
  margin-top: 14px;
}

//ドロワーアクティブ時
.is-drawer-active {
  .p-drawer-nav {
    opacity: 1;
    visibility: visible;

    &::before {
      transform: translateY(0);
    }

    .p-drawer-nav__link {
      transform: translateY(0);
      transition: transform 1.7s global.ease(out-expo) 0.3s;
    }

    .p-drawer-nav__text,
    .p-drawer-nav__sns {
      transition: opacity 0.6s global.ease(out-quint) 0.8s;
      opacity: 1;
    }
  }
}
