@use "foundation/global";

// Project フッター上部
//--------------------------------------------------------------------------

.p-footer-head__picture {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2em;
  width: 70px;
  height: 70px;

  @include global.mq(md) {
    width: 100px;
    height: 100px;
  }
}

.p-footer-head__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.p-footer-head__heading {
  margin-top: 4px;

  @include global.mq(md) {
    margin-top: 0;
  }
}

.p-footer-head__inner {
  @include global.mq(md) {
    display: flex;
    align-items: center;
  }
}

.p-footer-head__heading-en {
  display: block;
  @include global.fz(16, 18);
  @include global.lh(1.4);
  letter-spacing: -0.01em;
  font-weight: 400;
}

.p-footer-head__heading-ja {
  display: block;
  margin-top: 12px;
  @include global.fz(12, 14);
  @include global.lh(1);
  font-weight: 400;
  color: rgba(global.$color-primary, 0.5);
}

.p-footer-head__email {
  display: block;
  font-size: 22px;
  @include global.lh(1.7);
  letter-spacing: -0.01em;
  font-weight: 400;
  margin-top: 32px;
  white-space: nowrap;
  position: relative;
  display: block;
  padding-bottom: 12px;
  overflow: hidden;

  @include global.mq(md) {
    @include global.clampFunction("font-size", 768, 1920, 24, 60);
  }

  @include global.mq(lax) {
    padding-bottom: 24px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    opacity: 0.7;
    transition: transform 1s global.ease(out-quint);
    background-color: global.$color-primary;

    @include global.mq(lax) {
      height: 2px;
    }
  }

  &::before {
    transform: scale(0, 1) translateX(-80%);
    transform-origin: left top;
  }

  &::after {
    transform: scale(1, 1);
    transform-origin: right top;
  }

  &:hover,
  &:focus {
    .p-footer-head__heading-text {
      span {
        transform: translateY(-1.2em);
      }

      &:nth-child(2) {
        span {
          transform: translateY(-1.1em);
        }
      }
    }

    &::before {
      transform-origin: left top;
      transform: scale(1, 1) translateX(0);
    }

    &::after {
      transform-origin: right top;
      transform: scale(0, 1);
    }
  }
}

.p-footer-head__blank {
  transform: translateY(8%) rotate(-90deg);
  width: 18px;
  height: 18px;

  @include global.mq(lax) {
    @include global.clampFunction("width", 768, 1920, 24, 32);
    @include global.clampFunction("height", 768, 1920, 24, 32);
  }
}
