@use "foundation/global";

// Project フッター上部
//--------------------------------------------------------------------------

.p-footer-head__link {
  position: relative;
  display: block;
  padding-bottom: 32px;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5px;
    opacity: 0.7;
    transition: transform 1s global.ease(out-quint);
    background-color: global.$color-primary;
  }

  &::before {
    transform: scale(0, 1) translateX(-80%);
    transform-origin: left top;
  }

  &::after {
    transform: scale(1, 1);
    transform-origin: right top;
  }

  &:hover,
  &:focus {
    .p-footer-head__heading-text {
      span {
        transform: translateY(-1.2em);
      }

      &:nth-child(2) {
        span {
          transform: translateY(-1.1em);
        }
      }
    }

    &::before {
      transform-origin: left top;
      transform: scale(1, 1) translateX(0);
    }

    &::after {
      transform-origin: right top;
      transform: scale(0, 1);
    }
  }
}

.p-footer-head__heading {
  @include global.lh(1.2);
  font-weight: 400;
  font-size: 52px;

  @include global.mq(md) {
    @include global.clampFunction("font-size", 1024, 1440, 74, 100);
  }
}

.p-footer-head__heading-text {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  display: flex;
  align-items: center;
  clip-path: inset(0 0 -0.1em);

  &:nth-child(2) {
    span {
      padding-left: 0.07em;
      transition: transform 0.6s global.ease(out-quint) 0.2s;
    }
  }

  span {
    position: relative;
    display: inline-block;
    transition: transform 0.6s global.ease(out-quint);
    height: 1.2em;
    padding-left: 0.2em;

    &::after {
      content: attr(data-text);
      display: block;
      white-space: nowrap;
    }
  }
}

.p-footer-head__picture {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.2em;
  width: 52px;
  height: 52px;

  @include global.mq(md) {
    width: 100px;
    height: 100px;
  }
}

.p-footer-head__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.p-footer-head__text {
  margin-top: 21px;
  @include global.fz(14, 16);
  @include global.lh(1.44);
  font-family: global.$font-family-ja;

  @include global.mq(md) {
    margin-top: 32px;
  }
}
