@use "foundation/global";

// Project フッターナビゲーション
//--------------------------------------------------------------------------

.p-footer-nav {
  @include global.mq(md) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 13em;
  }
}

.p-footer-nav__link {
  position: relative;
  display: inline-block;
  padding: 14px 0;
  @include global.fz(18, 20);
  @include global.lh(1.2);
  font-weight: 400;

  @include global.mq(md) {
    padding: 16px 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 1px;
    background-color: global.$color-accent;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.6s global.ease(out-quint);
  }
  &:hover,
  &:focus {
    &::after {
      transform: scale(1, 1);
    }
  }
}
