@use "foundation/global";

// Project フォーム
//--------------------------------------------------------------------------

.p-form__dl {
  font-family: global.$font-family-ja;
  border-top: 1px solid global.$color-primary;
}
.p-form__row {
  position: relative;
  border-bottom: 1px solid global.$color-primary;
  padding: 0 27px;

  @include global.mq(md) {
    padding: 0 52px;
  }
}

.p-form__number {
  position: absolute;
  top: 28px;
  left: 0;
  @include global.fz(14, 16);
  @include global.lh(1.44, 1.2);
  color: global.$color-primary-thin;

  @include global.mq(md) {
    top: 32px;
  }
}

.p-form__label {
  display: block;
  padding-top: 28px;
  @include global.fz(16, 18);
  @include global.lh(1.44, 1.2);
  font-weight: 400;

  @include global.mq(md) {
    padding-top: 32px;
  }

  span {
    color: global.$color-accent;
  }
}

.p-form__input {
  width: 100%;
  padding: 18px 0 36px;
  box-shadow: none;
  appearance: none;
  border-radius: 0;
  background-color: global.$color-base;
  color: inherit;
  @include global.fz(14, 16);
  @include global.lh(1.4);
  font-family: inherit;

  @include global.mq(md) {
    padding: 24px 0 52px;
  }

  &::placeholder {
    color: global.$color-primary-thin;
    @include global.fz(14, 16);
  }
}

.p-form__textarea {
  display: inline-block;
  min-height: 140px;
  @include global.lh(1.7);

  @include global.mq(md) {
    min-height: 200px;
  }
}

.p-form__submit {
  display: inline-block;
  margin-top: 48px;

  @include global.mq(md) {
    margin-top: 70px;
  }
}
