@use "foundation/global";

// Project フッター
//--------------------------------------------------------------------------

.p-footer {
  position: relative;
  background-color: global.$color-base;
  color: global.$color-primary;
}

.p-footer__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-footer__foot {
  display: flex;
  flex-direction: column;
  margin-top: 42px;

  @include global.mq(md) {
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
  }
}

.p-footer__copyright {
  width: 100%;
  @include global.fz(14, 16);
  @include global.lh(1.2);
  text-align: right;
  margin-top: 32px;

  @include global.mq(md) {
    margin-top: 32px;
  }
}
