@use "foundation/global";

// Project ファーストビュー
//--------------------------------------------------------------------------

.p-first-view {
  position: relative;
  color: global.$color-white;
  background-color: global.$color-black;
  font-family: global.$font-family-en;
}

.p-first-view__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.p-first-view__heading {
  padding-left: 10%;
  font-size: 8vw;
  @include global.lh(1.2, 1);
  font-weight: 400;
  white-space: nowrap;

  @include global.mq(lg) {
    font-size: min(6.5vw, 120px);
  }

  &:not(:first-child) {
    margin-top: 0.7em;

    @include global.mq(lg) {
      margin-top: 0.5em;
    }
  }
}

.p-first-view__scroll {
  display: inline-block;
  position: absolute;
  right: 1%;
  bottom: 10%;
  overflow: hidden;
  color: global.$color-white;
  @include global.fz(14, 16);
  @include global.lh(1);
  padding: 10px 10px 80px 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transition-delay: 1s;

  @include global.mq(md) {
    bottom: calc(20vh + 7%);
  }

  @include global.mq(lg) {
    right: 17%;
    padding-bottom: 90px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 0;
    background-color: global.$color-accent;
    will-change: animation;
    animation: scrollDownLine 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    animation-delay: 1.5s;
  }
  @keyframes scrollDownLine {
    0% {
      height: 75px;
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      height: 75px;
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }
}
