@use "foundation/global";

// Project フッターインフォメーション
//--------------------------------------------------------------------------
.p-footer-info__link {
  display: block;
}

.p-footer-info__heading {
  @include global.fz(32, 40);
  @include global.lh(1.2);
  font-weight: 700;
}

.p-footer-info__text {
  margin-top: 21px;
  @include global.fz(14);
  @include global.lh(1.44);
  font-family: global.$font-family-ja;
}

.p-footer-info__follow {
  @include global.fz(16, 18);
  @include global.lh(1.4);
  margin-top: 38px;

  @include global.mq(md) {
    margin-top: 60px;
  }
}

.p-footer-info__sns {
  margin-top: 10px;
  display: flex;
}