@use "foundation/global";

// Project ヘッダー
//--------------------------------------------------------------------------

.p-header {
  background-color: transparent;
  font-family: global.$font-family-en;
  color: global.$color-primary;
}

.p-header__logo-link {
  display: block;
  @include global.fz(28, 32);
  @include global.lh(1.2);
  font-weight: 400;
}

.p-header__contents {
  display: flex;
}

.p-header__button {
  transform: translateX(5px);
}