@use "foundation/global";

// Project ヘッダーSNS
//--------------------------------------------------------------------------

.p-header-sns {
  display: flex;
  align-items: center;
  border-left: 1px solid global.$color-base;
}

.p-header-sns__item {
  height: 100%;
  padding-left: 18px;
}

.p-header-sns__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 100%;
}
