@use "foundation/global";

// Project トップページ 私について
//--------------------------------------------------------------------------
.p-home-about__inner {
  @include global.mq(md) {
    display: flex;
  }
}

.p-home-about__heading {
  margin-left: -8%;
  color: global.$color-secondary;
  font-size: 19vw;
  @include global.lh(1);
  font-weight: 500;
  font-family: global.$font-family-en;
  white-space: nowrap;
  letter-spacing: -0.01em;

  @include global.mq(md) {
    width: 40%;
    font-size: 19vw;
  }

  @include global.mq(1026px, min) {
    margin-left: 0;
    font-size: 12vw;
  }

  @include global.mq(xl) {
    width: 47%;
  }
}

.p-home-about__profile {
  width: 100%;

  @include global.mq(md) {
    margin-top: global.vw(150);
  }

  @include global.mq(xl) {
    width: 53%;
  }

  @include global.mq(1920px, min) {
    max-width: 40vw;
  }
}

.p-home-about__name-en {
  display: block;
  font-size: 32px;
  @include global.lh(1);
  font-weight: 400;
  font-family: global.$font-family-en;
  white-space: nowrap;
  letter-spacing: -0.02em;

  @include global.mq(md) {
    font-size: max(48px, #{global.vw(80)});
  }
}

.p-home-about__name-ja {
  display: block;
  margin-top: 4px;
  font-weight: 400;
  @include global.fz(14, 16);
  @include global.lh(1.2);

  @include global.mq(md) {
    margin-top: 7px;
  }
}

.p-home-about__text {
  font-size: 14px;
  line-height: 1.7em;

  @include global.mq(md) {
    font-size: 16px;
  }

  @include global.mq(lax) {
    line-height: 1.8em;
  }

  &:nth-of-type(1) {
    margin-top: 14px;
    
    @include global.mq(md) {
      margin-top: 24px;
    }
  }

  &:nth-of-type(2) {
    margin-top: 32px;
  }
}

.p-home-about__link-wrapper {
  margin-top: 52px;
}
