@use "foundation/global";

// Project トップページ 制作実績
//--------------------------------------------------------------------------
.p-home-works {
  position: relative;
}

.p-home-works__feature {
  margin-top: 72px;

  @include global.mq(md) {
    margin-top: 84px;
    width: calc(50% - 2% / 2);
    margin-left: auto;
  }
}

.p-home-works__cards {
  width: 100%;
}

.p-home-works__card {
  display: block;

  &:not(:first-child) {
    margin-top: 260px;
  }
}

.p-home-works__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - (520px + 45vh));
  pointer-events: none;
  background-color: transparent;
}




.p-home-works__info {
  position: relative;

  @include global.mq(md) {
    width: calc(50% - 2% / 2);
  }
}

.is-slide-mask {
  display: inline-block;
  pointer-events: none;
  position: relative;
  overflow: hidden;
  transition: color 0s 0.5s, background-color 0s 0.5s;
  background-color: transparent;
  color: transparent;
}

.p-home-works__detail {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-50%);
  visibility: hidden;

  @include global.mq(xl) {
    padding-left: 3%;
  }

  &.is-fixed {
    opacity: 1;
    visibility: visible;

    .p-home-works__title {
      &::after {
        width: 0;
      }
    }
    .is-slide-mask {
    color: global.$color-black;
      &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: global.$color-black;
      transform: translate(101%, 0);
      animation: mask-bg 1s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards running;
    }
    @keyframes mask-bg {
      0% {
        transform: translate( -100%, 0)
      }
      40%, 60% {
        transform: translate(0, 0%)
      }
      100% {
        transform: translate( 101%, 0)
      }
    }
  }
  }
}

.p-home-works__title {
  font-family: global.$font-family-en;
  font-size: 32px;
  @include global.lh(1);
  font-weight: 500;
  letter-spacing: -0.01em;


  @include global.mq(md) {
    font-size: max(50px, #{global.vw(80)});
  }
}

.p-home-works__number {
  font-size: 24px;
  font-weight: 600;

  @include global.mq(md) {
    font-size: max(18px, #{global.vw(24)});
  }
}

.p-home-works__category {
  margin-top: 32px;
  font-family: global.$font-family-en;
  font-size: 32px;
  @include global.lh(1.4);
  font-weight: 500;
  letter-spacing: -0.01em;

  @include global.mq(md) {
    font-size: max(24px, #{global.vw(32)});
  }
}

.p-home-works__text {
  margin-top: 12px;
  @include global.fz(14, 16);
  @include global.lh(1.4);
  font-weight: 400;

  @include global.mq(xxl) {
    font-size: 18px;
  }
}


.mock__img--wrapper {
  width: 100%;
}
.mock__img {
  display: block;
  &:nth-of-type(1) {
    width: 40%;
  }

  &:nth-of-type(2) {
    width: 57%;
    margin-left: auto;
    margin-top: -300px;
  }

  &:nth-of-type(3) {
    width: 100%;
    margin-top: -25px;
  }
}
