@use "foundation/global";

// Project イントロ
//--------------------------------------------------------------------------

.p-intro__heading {
  font-size: max(32px, 5.5vw);
  @include global.lh(1.05);
  font-weight: 400;
  font-family: global.$font-family-en;
  letter-spacing: -0.01em;

  @include global.mq(lax) {
    margin-top: 0;
    white-space: nowrap;
    font-size: max(40px, #{global.vw(86)});
  }
}

.p-intro__text {
  width: 100%;
  margin-top: 32px;
  @include global.fz(14, 16);
  @include global.lh(1.7, 1.8);
  font-weight: 400;

  @include global.mq(md) {
    width: 80%;
    margin-top: 40px;
  }

  @include global.mq(1026px, min) {
    width: 100%;
  }
}

.p-intro__icon {
  color: transparent;
  text-shadow: 0 0 0 global.$color-accent;
}