@use "foundation/global";

// Project キービジュアル
//--------------------------------------------------------------------------

.p-key-visual {
  position: relative;
  width: 100%;
  height: auto;
  background-color: inherit;
  color: inherit;

  @include global.mq(lax) {
    height: 110vh;
  }

  @include global.mq(1921px, min) {
    height: 90vh;
  }
}

.p-key-visual__inner {
  position: relative;
  z-index: map-get(global.$layer, default);
  width: 87%;
  height: 100%;
  max-width: 796px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100%;
  will-change: transform;

  @include global.mq(lax) {
    padding-top: 0;
    width: 100%;
  }
}

.p-key-visual__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @include global.object-fit(cover, center);
}

.p-key-visual__mask {
  position: absolute;
  top: 85%;
  left: 0;
  z-index: map-get(global.$layer, first-view);
  width: 100%;
  height: 100vh;
  background-color: inherit;

  @include global.mq(1921px, min) {
    top: 80%;
  }
}