@use "foundation/global";

// Project 下層ページ ファーストビュー
//--------------------------------------------------------------------------

.p-lower-first-view {
  width: 100%;
  padding: 20vh 0 15vh;

  @include global.mq(lax) {
    display: flex;
    padding: 15vw 0 8vw;
  }
}

.p-lower-first-view__inner {
  width: 100%;

  @include global.mq(lax) {
    display: flex;
  }
}

.p-lower-first-view__heading {
  @include global.mq(lax) {
    width: calc(40% - 8% / 2);
  }
}

.p-lower-first-view__intro {
  margin-top: 84px;

  @include global.mq(lax) {
    width: calc(55% - 8% / 2);
    margin-top: global.vw(174);
    margin-left: 8%;
  }
}