@use "foundation/global";

// Project プロフィール
//--------------------------------------------------------------------------

.p-profile__contents {
  margin-top: 60px;

  @include global.mq(md) {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
}

.p-profile__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 85%;
  padding-top: 100%;

  @include global.mq(md) {
    width: calc(50% - 8% / 2);
    padding-top: 56%;
  }
}

.p-profile__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @include global.object-fit(cover, center);
}

.p-profile__body {
  margin-top: 32px;

  @include global.mq(md) {
    width: calc(50% - 8% / 2);
  }
}

.p-profile__heading {
  font-weight: 300;
}

.p-profile__heading-en {
  display: block;
  @include global.fz(28, 32);
  @include global.lh(1.2);
  font-family: global.$font-family-en;
}

.p-profile__heading-ja {
  display: block;
  margin-top: 7px;
  color: global.$color-border;
  @include global.fz(16);
  @include global.lh(1.2);

  @include global.mq(md) {
    margin-top: 14px;
  }
}

.p-profile__dl {
  margin-top: 32px;

  @include global.mq(md) {
    margin-top: 40px;
  }
}

.p-profile__row {
  @include global.mq(md) {
    display: flex;
    align-items: baseline;
  }
  &:not(:first-child) {
    margin-top: 22px;
  }
}
//--links
.p-profile__row--links {
  display: flex;
  align-items: baseline;
}

.p-profile__dt {
  position: relative;
  padding-left: 18px;
  @include global.fz(14, 16);
  @include global.lh(1.44);

  @include global.mq(md) {
    max-width: 100px;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0.65em;
    left: 0;
    width: 12px;
    height: 2px;
    background-color: global.$color-accent;
  }
}
//--links
.p-profile__dt--links {
  max-width: 80px;
  width: 100%;

  @include global.mq(md) {
    max-width: 80px;
  }
}

.p-profile__dd {
  display: inline-block;
  margin-top: 4px;
  padding-left: 18px;
  @include global.fz(14);
  @include global.lh(1.72, 2);
  font-weight: 400;
  letter-spacing: 0.03em;

  @include global.mq(md) {
    margin-top: 0;
  }
}
//--links
.p-profile__dd--links {
  margin-top: 0;
  padding-left: 8px;

  @include global.mq(md) {
    padding-left: 14px;
  }
}

.p-profile__links {
  margin-top: 48px;

  @include global.mq(md) {
    margin-top: 70px;
  }
}

.p-profile__link {
  display: block;
  position: relative;
  padding-right: 20px;
  color: global.$color-border;
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
  font-weight: 400;

  &:hover,
  &:focus {
    color: global.$color-black;

    .p-profile__svg {
      color: global.$color-black;
    }
  } 
}

.p-profile__svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: color 0.3s ease-in-out;
}
