@use "foundation/global";

// Project マウスストーカー
//--------------------------------------------------------------------------

.p-stalker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: map-get(global.$layer, stalker);
  pointer-events: none;
  color: transparent;
  font-size: 0;
  text-shadow: 0 0 0 rgba(global.$color-accent, 0.5);
  transition: transform 0.2s, top, 0.3s, left 0.3s;
  transition-timing-function: ease-out;

  &.is-hover {
    top: min(-50px, #{global.vw(-50)});
    left: min(-35px, #{global.vw(-35)});
    font-size: max(78px, #{global.vw(78)});
  }
}
