@use "foundation/global";

// Project お知らせシングルページ
//--------------------------------------------------------------------------

.p-single-info {
  background-color: global.$color-black;
  color: global.$color-base;
}

.p-single-info__contents {
  max-width: 960px;
  h2,
  h3,
  h4 {
    letter-spacing: 0.03em;
    font-weight: 400;
    margin-top: 2.5em;
    margin-bottom: 1em;
  }  

  h2 {
    @include global.fz(22, 30);
    @include global.lh(1.32);
  }

  h3 {
    @include global.fz(20, 28);
    @include global.lh(1.32);
  }

  h4 {
    @include global.fz(18, 24);
    @include global.lh(1.44);
  }

  p {
    @include global.fz(14, 16);
    @include global.lh(2);
  }

  p + p {
    margin-top: 2em;
  }

  .wp-block-image {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
  padding-top: calc(700 / 960 * 100%);
  overflow: hidden;
  
  @include global.mq(md) {
    margin-bottom: 70px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include global.object-fit(cover, center);
  }
}
}

.p-single-info__link-wrapper {
  margin-top: 70px;

  @include global.mq(md) {
    margin-top: 120px;
  }
}