@use "foundation/global";

// Project 制作実績シングルページ
//--------------------------------------------------------------------------

.p-single-works {
  color: global.$color-base;
  transition: background-color 0.8s, color 0.8s;
}

.p-single-works__heading-en {
  font-size: max(38px, 8vw);
  @include global.lh(1.2);
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: global.$font-family-en;

  @include global.mq(lax) {
    font-size: max(60px, #{global.vw(100)});
  }
}

.p-single-works__heading-ja {
  margin-top: 14px;
  font-size: 14px;
  @include global.lh(1.44);
  font-weight: 500;
  font-family: global.$font-family-en;

  @include global.mq(md) {
    font-size: max(20px, #{global.vw(24)});
  }
}

.p-single-works__category {
  display: block;
  @include global.lh(1.44);
  font-size: 14px;
  font-weight: 500;
  font-family: global.$font-family-en;

  @include global.mq(md) {
    font-size: max(20px, #{global.vw(24)});
  }
}

.p-single-works__mockup {
  position: relative;
  padding-top: 195%;
  margin-bottom: 14.5vw;

  @include global.mq(md) {
    display: flex;
    align-items: flex-end;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.p-single-works__mockup-picture--sp {
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 2;
  width: 36%;
  transform-style: preserve-3d;
  perspective: 840px;

  @include global.mq(md) {
    position: static;
    width: 17%;
    transform-style: none;
    perspective: 0;
  }

  .p-single-works__mockup-img {
    transform: rotate3d(2, 2, -1.5, 34deg);

    @include global.mq(md) {
      transform: none;
    }
  }
}

.p-single-works__mockup-picture--tab {
  position: absolute;
  top: 24%;
  right: 0;
  width: 64%;
  transform-style: preserve-3d;
  perspective: 840px;

  @include global.mq(md) {
    position: static;
    transform-style: none;
    perspective: 0;
    width: 28%;
    margin-left: -8vw;
  }

  @include global.mq(lax) {
    margin-left: global.vw(-50);
    width: 27%;
  }

  .p-single-works__mockup-img {
    transform: rotate3d(1, -1, 1, 48deg);
    @include global.mq(md) {
      transform: none;
    }
  }
}

.p-single-works__mockup-picture--pc {
  transform-style: preserve-3d;
  perspective: 140vw;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 105%;

  @include global.mq(md) {
    position: static;
    transform-style: none;
    perspective: 0;
    width: 80%;
    margin-left: -5vw;
    margin-bottom: 3vw;
  }

  .p-single-works__mockup-img {
    transform: rotate3d(1, 1, -1, 29deg);
    @include global.mq(md) {
      transform: none;
    }
  }
}

.p-single-works__info {
  padding-top: max(84px, #{global.vw(134)});
  @include global.mq(lax) {
    display: flex;
  }
}

.p-single-works__overview {
  width: 100%;

  @include global.mq(xxl) {
    width: calc(40% - 8% / 2);
  }

  &:not(:first-child) {
    margin-top: 52px;

    @include global.mq(lax) {
      margin-top: 0;
      margin-left: 8%;
    }
  }
}

.p-single-works__rotate-picture {
  display: block;
  overflow: hidden;
  width: 100vw;
  max-height: 100vh;
  height: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: max(84px, #{global.vw(134)});
}

.p-single-works__video-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 62.5%;
  margin-top: max(42px, #{global.vw(134)});

  video {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }
}

.p-single-works__capture {
  position: relative;
  margin-top: 84px;

  @include global.mq(lax) {
    margin-top: 0;
    width: 50%;
  }
}

.p-single-works__capture-picture {
  display: block;

  &:not(:first-child) {
    margin-top: max(52px, #{global.vw(134)});
  }
}

.p-single-works__capture-mask {
  position: absolute;
  top: -25vh;
  left: 0;
  width: 1;
  height: calc(100% - 500px);
  pointer-events: none;
}

.p-single-works__detail {
  margin-top: max(84px, #{global.vw(260)});

  @include global.mq(lax) {
    width: 40%;
    height: 0;
    margin-left: auto;
  }
}

//Memories
.p-single-works--memories {
  background-color: global.$color-base;
  color: global.$color-primary;

  .p-single-works__heading {
    mix-blend-mode: difference;
    color: global.$color-base;
  }
  .p-single-works--memories__inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 7%;
      left: 50%;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 50%;
      transform: skewY(-35deg) translateX(-50%);
      background: global.$color-memories-main;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 10%;
      left: 50%;
      bottom: 0;
      right: 0;
      width: 109%;
      height: 110%;
      background: global.$color-primary;
      transform: skewY(-45deg) translateX(-50%);

      @include global.mq(lax) {
        top: 9%;
        height: 77%;
      }
    }
  }

  .p-single-works__rotate-picture {
    max-height: 120vh;
  }

  .p-single-works__info {
    color: global.$color-base;
  }

  .p-works-overview__link {
    color: global.$color-base;

    &::before {
      background-color: global.$color-base;
    }
  }

  .p-works-overview__heading {
    &::after {
      background-color: global.$color-base;
    }
  }

  .p-single-works__rotate-picture {
    position: relative;

    &::after {
      content: "Memories";
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: global.vw(80);
      color: global.$color-base;
    }
  }
  .p-single-works__detail {
    mix-blend-mode: difference;
    color: global.$color-base;
  }
}