@use "foundation/global";

// Project バリュー
//--------------------------------------------------------------------------

.p-value__contents {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  font-family: global.$font-family-ja;
  margin-top: 52px;

  @include global.mq(lax) {
    margin-top: 84px;
  }

  @include global.mq(xl) {
    margin-left: auto;
    width: 75vw;
  }

  @include global.mq(xxl) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.p-value__body {
  @include global.mq(xxl) {
    width: calc(50% - 5% / 2);
  }
}

.p-value__heading {
  font-size: 20px;
  @include global.lh(1.2);
  font-weight: 600;

  @include global.mq(md) {
    font-size: max(32px, #{global.vw(32)});
  }
}

.p-value__list {
  margin-top: max(52px, #{global.vw(52)});
}

.p-value__item {
  &:not(:first-child) {
    margin-top: 32px;

    @include global.mq(md) {
      margin-top: max(52px, #{global.vw(52)});
    }
  }
}

.p-value__title {
  position: relative;
  padding-left: max(32px, #{global.vw(32)});
  font-size: 16px;
  @include global.lh(1.44);
  font-weight: 600;

  @include global.mq(md) {
    padding-left: max(40px, #{global.vw(40)});
    font-size: max(20px, #{global.vw(20)});
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: counter(number, decimal-leading-zero) "：";
    counter-increment: number 1;
    font-size: 16px;
    font-weight: 600;

    @include global.mq(md) {
      font-size: max(20px, #{global.vw(20)});
    }
  }
}

.p-value__text {
  margin-top: 4px;
  padding-left: max(32px, #{global.vw(32)});
  @include global.fz(14, 16);
  @include global.lh(1.7, 1.8);
  text-align: justify;

  @include global.mq(md) {
    margin-top: 8px;
    padding-left: max(40px, #{global.vw(40)});
  }
}

.p-value__img-wrapper {
  margin-bottom: 84px;

  @include global.mq(md) {
    width: 70%;
  }

  @include global.mq(xxl) {
    margin-bottom: 0;
    width: calc(50% - 5% / 2);
  }
}
