@use "foundation/global";

// Project 制作実績データ
//--------------------------------------------------------------------------

.p-works-data {
  width: 100%;
}

.p-works-data__row {
  &:not(:first-child) {
    margin-top: 32px;

    @include global.mq(md) {
      margin-top: 40px;
    }
  }

  @include global.mq(md) {
    display: flex;
  }
}

.p-works-data__dl {
  &:nth-of-type(n + 2) {
    margin-top: 32px;

    @include global.mq(md) {
      margin-top: 0;
      margin-left: 192px;
    }
  }
}

.p-works-data__dt {
  position: relative;
  @include global.fz(12, 14);
  @include global.lh(1.21);
  color: global.$color-border;
}

.p-works-data__dd {
  display: inline-block;
  margin-top: 6px;
  @include global.fz(14, 16);
  @include global.lh(1.2);

  @include global.mq(md) {
    margin-top: 8px;
  }
}

.p-works-data__link {
  position: relative;
  display: block;
  transition: color 0.3s ease-in-out;
  overflow: hidden;

  &:hover,
  &:focus {
    color: global.$color-border;

    &::after {
      transform: scale(0, 1);
      transform-origin: right top;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: global.$color-border;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: global.$color-base;
    transform: scale(1, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }
}

.p-works-data__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-54%);
  margin-left: 4px;
}
