@use "foundation/global";

// Project 制作実績概要
//--------------------------------------------------------------------------

.p-works-overview__heading {
  position: relative;
  border-top: 1px solid;
  border-color: global.$color-base;
  padding-top: 18px;
  font-size: 24px;
  @include global.lh(1);
  letter-spacing: -0.01em;
  font-weight: 500;
  transition: border-color 0.4s ease-in-out;

  @include global.mq(md) {
    padding-top: 24px;
    font-size: max(32px, #{global.vw(40)});
    font-weight: 400;
  }
}

.p-works-overview__body {
  margin-top: 24px;

  @include global.mq(md) {
    margin-top: 32px;
  }
}

.p-works-overview__row {
  font-family: global.$font-family-ja;
  @include global.mq(md) {
    display: flex;
    align-items: baseline;
  }

  &:not(:first-child) {
    margin-top: 18px;

    @include global.mq(md) {
      margin-top: 14px;
    }
  }
}

.p-works-overview__dt {
  position: relative;
  @include global.fz(16);
  @include global.lh(1.2);
  font-weight: 500;
  font-family: global.$font-family-en;

  @include global.mq(md) {
    max-width: 80px;
    width: 100%;
    max-width: 100px;
  }
}

.p-works-overview__dd {
  margin-top: 3px;
  @include global.fz(14, 16);
  @include global.lh(2);
  font-family: global.$font-family-en;

  @include global.mq(md) {
    margin-top: 0;
    padding-left: 14px;
  }
}

.p-works-overview__link {
  position: relative;
  display: inline-block;
  transition: color 0.4s ease-in-out;
  background: linear-gradient(transparent 0, global.$color-base 40%) no-repeat;
  background-position: bottom right;
  background-size: 0 1px;
  @include global.lh(1.7);
  transition: background-size 0.6s global.ease(out-quint);

  &:hover,
  &:focus {
    background-position: bottom left;
    background-size: 100% 1px;
  }
}

.p-works-overview__svg {
  transform: translateY(22%);
}

.p-works-overview__text {
  @include global.fz(14, 16);
  @include global.lh(1.7);
  font-weight: 300;
}
