@use "foundation/global";

// Project 制作実績アイテム（モック　sp時の作品タイトル、詳細）
//--------------------------------------------------------------------------

.p-works-item {
  display: block;
  position: relative;
}

.p-works-item__body {
  //margin-top: 24px;
  margin-top: max(40px, 11vw);
  
  @include global.mq(md) {
    //margin-top: 32px;
  }

  @include global.mq(lax) {
    display: none;
  }
}

.p-works-item__title {
  @include global.fz(32, 48);
  @include global.lh(1.1);
  font-weight: 500;
  font-family: global.$font-family-en;
  letter-spacing: -0.01em;
}

.p-works-item__category {
  margin-top: 18px;
  @include global.fz(18, 24);
  @include global.lh(1.2);
  font-weight: 500;
  letter-spacing: -0.01em;

  @include global.mq(md) {
    margin-top: 24px;
  }
}

.p-works-item__text {
  margin-top: 12px;
  @include global.fz(14, 16);
  @include global.lh(1.7, 1.8);
}

.p-works-item__link-wrapper {
  margin-top: 32px;

  @include global.mq(md) {
    margin-top: 52px;
  }
}

.p-works-item__figure {
  display: block;

  @include global.mq(lax) {
    width: 100%;
  }
}

.p-works-item__img-link {
  display: block;
}

.p-works-item__picture {
  display: block;
}

.p-works-item__picture--sp {
  position: relative;
  z-index: 3;
  width: 20%;
  margin-bottom: -43%;

  @include global.mq(lax) {
    margin-bottom: 0;
    width: 39%;
  }
}

.p-works-item__picture--tab {
  position: relative;
  z-index: 3;
  width: 30%;
  margin-bottom: -50%;
  margin-left: auto;

  @include global.mq(lax) {
    width: 53%;
    margin-top: global.vw(-435);
    margin-bottom: 0;
  }
}

.p-works-item__picture--pc {
  z-index: 1;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;

  @include global.mq(lax) {
    position: relative;
    width: 90%;
    margin-left: 0;
    margin-top: global.vw(-40);
  }
}

.p-works-item__img {
  width: 100%;
}