@use "foundation/global";

// Project トップページ制作実績 pc時の作品名のタイトル、詳細
//--------------------------------------------------------------------------


.p-works-content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;

  &.is-show {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}

.p-works-content__body {
  padding-left: 3%;
  padding-bottom: 12%;
}

.p-works-content__title {
  font-size: 32px;
  @include global.lh(1.2);
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: global.$font-family-en;

  @include global.mq(md) {
    font-size: max(50px, #{global.vw(80)});
  }
}

.p-works-content__number {
  padding-top: 45px;
  span::before {
    content: counter(number, decimal-leading-zero);
    counter-increment: number 1;
    font-size: 24px;
    font-weight: 600;
    font-family: global.$font-family-en;
    
    @include global.mq(md) {
      font-size: max(30px, #{global.vw(38)});
    }
  }
}

.p-works-content__category {
  margin-top: 32px;
  font-size: 32px;
  @include global.lh(1.4);
  font-weight: 500;
  letter-spacing: -0.01em;
  font-family: global.$font-family-en;

  @include global.mq(md) {
    font-size: max(24px, #{global.vw(32)});
  }
}

.p-works-content__text {
  margin-top: 12px;
  @include global.lh(1.4, 1.7);
  font-weight: 400;
  font-size: max(16px, #{global.vw(20)});
}

.p-works-content__link-wrapper {
  padding-bottom: 50px;
}
