@use "foundation/global";

// Project 制作実績アイテム（モック sp時の作品タイトル、カテゴリ）
//--------------------------------------------------------------------------

.p-works-item {
  display: block;
}

.p-works-item__picture {
  display: block;
  overflow: hidden;

  @include global.mq(lax) {
    position: relative;
    width: 115%;
    z-index: 1;
  }
}

.p-works-item__body {
  margin-top: 18px;

  @include global.mq(md) {
    margin-top: 24px;
  }
}

.p-works-item__title {
  @include global.fz(18, 20);
  @include global.lh(1.1);
  font-weight: 500;
  letter-spacing: -0.01em;
}

.p-works-item__category {
  margin-top: 8px;
  @include global.fz(12, 14);
  @include global.lh(1.2);
  font-weight: 500;
  letter-spacing: -0.01em;
  opacity: 0.5;
}
