@use "foundation/global";

// Project 制作実績導線
//--------------------------------------------------------------------------

.p-works-connect {
  display: flex;
  flex-direction: column-reverse;

  @include global.mq(md) {
    flex-direction: row;
  }
}

.p-works-connect__inner {
  width: 100%;
  height: 40vh;
  background-color: global.$color-primary-dark;
  display: flex;
  justify-content: center;
  align-items: center;

  @include global.mq(md) {
    height: 70vh;
  }

  &:not(:first-child) {
    background-color: global.$color-primary;
    color: global.$color-base;
  }
}

.p-works-connect__link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: global.$color-base;
  font-size: max(40px, #{global.vw(100)});
  @include global.lh(1.2);
  font-family: global.$font-family-en;
  font-weight: 400;
  text-align: center;

  @include global.mq(lax) {
    height: 1.2em;

    &:hover,
    &:focus {
      &::before {
        transform: scale(1, 1);
        transform-origin: left top;
      }

      .p-works-connect__link-head {
        transform: translateY(-1.2em);
      }

      .p-works-connect__link-foot {
        transform: translateY(-1.2em);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: global.$color-base;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.6s global.ease(out-quint);
  }
}

.p-works-connect__link-head {
  display: block;
  transition: transform 0.6s global.ease(out-quint);
}

.p-works-connect__link-foot {
  display: block;
  transition: transform 0.6s global.ease(out-quint);
}
