<% let pageId='smarthr' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main id="js-smarthr-product" class="l-single-works p-single-works" data-barba="container"
        data-barba-namespace="single" data-bg="#00C4CC">
        <div class="l-container l-container--small">
          <%# 背景色変更エリア %>
          <div id="js-switching-trigger">
            <%# ファーストビュー %>
            <div id="js-first-view" class="l-single-works__first-view">
              <div class="p-single-works__heading c-single-heading">
                <h1 class="p-single-works__heading-en is-wrap" style="transform: translate(0px, 0px);">
                  <span class="is-slide-up">
                    SmartHR
                  </span>
                </h1>
                <p class="p-single-works__heading-ja is-wrap">
                  <span class="is-slide-up u-delay04">
                    Product Tutorial
                  </span>
                </p>
                <p class="p-single-works__category is-wrap">
                  <span class="is-slide-up u-delay05">
                    Development
                  </span>
                </p>
              </div>
            </div>
            <%# / ファーストビュー %>

            <%# モックアップ %>
            <div class="p-single-works__mockups" style="transform: translate(0px, 0px);">
              <picture class="p-single-works__mockup p-single-works__mockup--sp" data-scroll
                data-scroll-speed="1" data-scroll-delay="0.1">
                <source srcset="/img/webp/sp-smarthr.webp" class="p-single-works__mockup-img" type="image/webp" />
                <img src="/img/common/sp-smarthr.png" class="p-single-works__mockup-img"
                  alt="SmartHR機能ガイド、スマホ画面のビュー" width="70" height="141" decoding="async">
              </picture>

              <picture class="p-single-works__mockup p-single-works__mockup--pc" data-scroll
                data-scroll-speed="0.5">
                <source srcset="/img/webp/pc-smarthr.webp" class="p-single-works__mockup-img" type="image/webp" />
                <img src="/img/common/pc-smarthr.png" class="p-single-works__mockup-img"
                  alt="SmartHR機能ガイド、PC画面のビュー" width="949" height="811" decoding="async">
              </picture>

              <picture class="p-single-works__mockup p-single-works__mockup--tab" data-scroll
                data-scroll-speed="0.75" data-scroll-delay="0.05">
                <source srcset="/img/webp/tab-smarthr.webp" class="p-single-works__mockup-img"type="image/webp" />
                <img src="/img/common/tab-smarthr.png" class="p-single-works__mockup-img"
                  alt="SmartHR機能ガイド、タブレット画面のビュー" width="445" height="622" decoding="async">
              </picture>
            </div>
            <%# / モックアップ %>

            <%# サイトリンク 概要 %>
            <div class="p-single-works__info" style="transform: translate(0px, 0px);">
              <section class="p-single-works__overview p-works-overview">
                <h2 class="p-works-overview__heading">
                  LINKS
                </h2>
                <div class="p-works-overview__body">
                  <dl class="p-works-overview__dl">
                    <div class="p-works-overview__row">
                      <dt class="p-works-overview__dt">
                        Site url
                      </dt>
                      <dd class="p-works-overview__dd">
                        <a href="https://cs.smarthr.jp/product/engagement-survey/" class="p-works-overview__link"
                          target="_blank" rel="noopener noreferrer" style="transform: translate(0px, 0px);">
                          https://cs.smarthr.jp/product/engagement-survey/
                          <svg class="c-svg p-works-overview__blank" width="14" height="14">
                            <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                          </svg>
                        </a>
                      </dd>
                    </div>
                  </dl>
                </div>
              </section>
              <section class="p-single-works__overview p-works-overview">
                <h2 class="p-works-overview__heading">
                  OVERVIEW
                </h2>
                <div class="p-works-overview__body">
                  <p class="p-works-overview__text">
                    SmartHRプロダクトの機能ガイド、チュートリアル画面の開発を行いました。
                  </p>
                </div>
              </section>
            </div>
            <%# / サイトリンク 概要 %>

            <%# ワイドイメージ %>
            <picture class="p-single-works__picture p-single-works__picture--wide"
              style="transform: translate(0px, 0px);">
              <source srcset="/img/webp/smarthr-rotate01.webp" class="p-single-works__img" media="(max-width: 768px)" type="image/webp" />
              <source srcset="/img/common/smarthr-rotate01.png" class="p-single-works__img" media="(max-width: 768px)" />
              <source srcset="/img/webp/smarthr-rotate01-pc.webp" class="p-single-works__img" type="image/webp" />
              <img src="/img/common/smarthr-rotate01-pc.png" class="p-single-works__img" width="1920"
                height="1333" loading="lazy" data-scroll data-scroll-speed="-1" alt="">
            </picture>
            <picture class="p-single-works__picture p-single-works__picture--wide" style="transform: translate(0px, 0px);">
              <source srcset="/img/webp/smarthr-rotate02.webp" class="p-single-works__img" media="(max-width: 768px)" type="image/webp"/>
              <source srcset="/img/common/smarthr-rotate02.png" class="p-single-works__img" media="(max-width: 768px)" />
              <source srcset="/img/webp/smarthr-rotate02-pc.webp" class="p-single-works__img" type="image/webp" />
              <img src="/img/common/smarthr-rotate02-pc.png" class="p-single-works__img" width="1920" height="1333" loading="lazy"
                data-scroll data-scroll-speed="-1" alt="">
            </picture>
            <picture class="p-single-works__picture p-single-works__picture--wide" style="transform: translate(0px, 0px);">
              <source srcset="/img/webp/smarthr-rotate03.webp" class="p-single-works__img" media="(max-width: 768px)" type="image/webp" />
              <source srcset="/img/common/smarthr-rotate03.png" class="p-single-works__img" media="(max-width: 768px)" />
              <source srcset="/img/webp/smarthr-rotate03-pc.webp" class="p-single-works__img" type="image/webp" />
              <img src="/img/common/smarthr-rotate03-pc.png" class="p-single-works__img" width="1920" height="1333" loading="lazy"
                data-scroll data-scroll-speed="-1" alt="">
            </picture>
            <%# ワイドイメージ %>

            <%# 動画 %>
            <div class="p-single-works__video-wrapper">
              <video autoplay muted loop playsinline width="1351" height="844" data-scroll
                data-scroll-speed="-1">
                <source src="/img/video/smarthr-video.mp4" type="video/mp4">
              </video>
            </div>
            <%# / 動画 %>

          </div>
          <%# / 背景色変更エリア %>

          <%# 詳細 %>
          <div class="l-single-works__detail">
            <section class="p-single-works__detail p-works-detail" data-scroll data-scroll-sticky
              data-scroll-target="#js-capture">
              <div class="p-works-detail__inner">
                <h2 class="p-works-detail__heading" style="transform: translate(0px, 0px);">
                  DETAILS
                </h2>
                <div class="p-works-detail__body">
                  <dl class="p-works-detail__dl">
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        クライアント
                      </dt>
                      <dd class="p-works-detail__dd">
                        <a href="https://smarthr.co.jp/" target="_blank">株式会社SmartHR</a>
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        公開日
                      </dt>
                      <dd class="p-works-detail__dd">
                        2023年
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        担当範囲
                      </dt>
                      <dd class="p-works-detail__dd">
                        フロントエンド開発
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        使用技術
                      </dt>
                      <dd class="p-works-detail__dd">
                        Astro / Vue.js / TypeScript
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        クレジット
                      </dt>
                      <dd class="p-works-detail__dd">
                        PM：サトウハルミ（FLAT, Inc.）<br>
                        Director：小濱 （FLAT, Inc.）<br>
                        Develop：浅井（FLAT, Inc.）、飛田（FLAT, Inc.）
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </section>
            <div class="p-single-works__captures">
              <picture class="p-single-works__capture" style="transform: translate(0px, 0px);">
                <source srcset="/img/webp/smarthr-capture.webp" class="p-single-works__capture-img" type="image/webp" />
                <img src="/img/common/smarthr-capture.png" class="p-single-works__capture-img"
                  alt="" width="1632" height="3065" loading="lazy">
              </picture>
              <div class="p-single-works__capture-mask" id="js-capture"></div>
            </div>
          </div>
          <%# / 詳細 %>
        </div>

        <%# 制作実績導線 %>
          <div class="p-works-connect" style="transform: translate(0px, 0px);">
            <a href="/kt-media/" class="p-works-connect__link">
              <picture class="p-works-connect__bg">
                <source srcset="/img/webp/thumbnail-media.webp" type="image/webp" />
                <img src="/img/common/thumbnail-media.png" width="770" height="781" alt="サムネイル、KT MEDIA個人技術ブログ" loading="lazy">
              </picture>
              <p class="p-works-connect__text-wrapper">
                <span class="p-works-connect__text" data-text="KT MEDIA">
                  Prev
                </span>
              </p>
            </a>
            <a href="/pokedex/" class="p-works-connect__link">
              <picture class="p-works-connect__bg">
                <source srcset="/img/webp/thumbnail-pokedex.webp" type="image/webp" />
                <img src="/img/common/thumbnail-pokedex.png" width="770" height="781" alt="サムネイル、Pokedex" loading="lazy">
              </picture>
              <p class="p-works-connect__text-wrapper">
                <span class="p-works-connect__text" data-text="Pokedex">
                  Next
                </span>
              </p>
            </a>
          </div>
          <%# / 制作実績導線 %>
      </main>

      <%- include('../common/_footer', {pageId:pageId }) %>