<% let pageId='minami-dental' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <div data-barba="container" data-barba-namespace="single">
        <main id="js-switching-bg" class="l-single-works p-single-works p-single-works--minami">
          <div id="js-switching-trigger">
            <div id="js-first-view" class="l-container">
              <div class="l-single-works__first-view">
                <div class="p-single-works__heading c-single-heading">
                  <h2 class="p-single-works__heading-en is-wrap" style="transform: translate(0px, 0px);">
                    <span class="is-slide-up">
                      Minami Dental
                    </span>
                  </h2>
                  <p class="p-single-works__heading-ja is-fade-up u-delay01">
                    架空歯科クリニックサイト
                  </p>
                  <p class="p-single-works__category is-fade-up u-delay02">
                    Dental Site / Coding
                  </p>
                </div>
              </div>
              <div class="p-single-works__mockup" style="transform: translate(0px, 0px);">
                <picture class="p-single-works__mockup-picture p-single-works__mockup-picture--sp" data-scroll data-scroll-speed="1" data-scroll-delay="0.1">
                  <source srcset="/img/webp/sp-minami.webp" class="p-single-works__mockup-img" type="image/webp" />
                  <img src="/img/common/sp-minami.png" class="p-single-works__mockup-img" alt="みなみ歯科クリニック架空サイト、スマホ画面のビュー" width="70" height="141" decoding="async">
                </picture>

                <picture class="p-single-works__mockup-picture p-single-works__mockup-picture--pc" data-scroll data-scroll-speed="0.5">
                  <source srcset="/img/webp/pc-minami.webp" class="p-single-works__mockup-img" type="image/webp" />
                  <img src="/img/common/pc-minami.png" class="p-single-works__mockup-img" alt="みなみ歯科クリニック架空サイト、PC画面のビュー" width="1103" height="701" decoding="async">
                </picture>

                <picture class="p-single-works__mockup-picture p-single-works__mockup-picture--tab" data-scroll data-scroll-speed="0.75" data-scroll-delay="0.05">
                  <source srcset="/img/webp/tab-minami.webp" class="p-single-works__mockup-img" type="image/webp" />
                  <img src="/img/common/tab-minami.png" class="p-single-works__mockup-img" alt="みなみ歯科クリニック架空サイト、タブレット画面のビュー" width="445" height="622" decoding="async">
                </picture>
              </div>
            </div>

            <div class="l-container l-container--small">
              <div class="p-single-works__info" style="transform: translate(0px, 0px);">
                <section class="p-single-works__overview p-works-overview">
                  <h2 class="p-works-overview__heading">
                    LINKS
                  </h2>
                  <div class="p-works-overview__body">
                    <dl class="p-works-overview__dl">
                      <div class="p-works-overview__row">
                        <dt class="p-works-overview__dt">
                          Site url
                        </dt>
                        <dd class="p-works-overview__dd">
                          <a href="" class="p-works-overview__link" target="_blank" rel="noopener noreferrer"
                            style="transform: translate(0px, 0px);">
                            https://global-standard.com/
                            <svg class="c-svg p-works-overview__blank" width="14" height="14">
                              <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                            </svg>
                          </a>
                        </dd>
                      </div>
                      <div class="p-works-overview__row">
                        <dt class="p-works-overview__dt">
                          Source
                          <svg class="c-svg p-works-overview__svg" width="20" height="20" role="img" aria-label="GitHubのアイコン">
                            <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                          </svg>
                        </dt>
                        <dd class="p-works-overview__dd">
                          <a href="https://github.com/kokoro-hart/global_standard" class="p-works-overview__link"
                            target="_blank" rel="noopener noreferrer" style="transform: translate(0px, 0px);">
                            https://github.com/kokoro-hart
                            <svg class="c-svg p-works-overview__blank" width="14" height="14">
                              <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                            </svg>
                          </a>
                        </dd>
                      </div>
                      <div class="p-works-overview__row">
                        <dt class="p-works-overview__dt">
                          Basic認証
                        </dt>
                        <dd class="p-works-overview__dd">
                          ID : global <br>
                          Pass : global
                        </dd>
                      </div>
                    </dl>
                  </div>
                </section>
                <section class="p-single-works__overview p-works-overview">
                  <h2 class="p-works-overview__heading">
                    OVERVIEW
                  </h2>
                  <div class="p-works-overview__body">
                    <p class="p-works-overview__text">
                      世界で活躍できるグローバルな人材を育てる、架空事業会社コーポレートサイトのコーディング、WordPress化を行いました。
                    </p>
                  </div>
                </section>
              </div>

              <picture class="p-single-works__rotate-picture" style="transform: translate(0px, 0px);">
                <source srcset="/img/webp/minami-rotate.webp" class="p-single-works__rotate-img" type="image/webp" />
                <img src="/img/common/minami-rotate.png" class="p-single-works__rotate-img" width="1920" height="1333" loading="lazy" data-scroll data-scroll-speed="-1" alt="">
              </picture>
              <div class="p-single-works__info" style="transform: translate(0px, 0px);">
                <section class="p-single-works__overview p-works-overview">
                  <h2 class="p-works-overview__heading">
                    INTERACTION
                  </h2>
                  <div class="p-works-overview__body">
                    <p class="p-works-overview__text">
                      世界で活躍できるグローバルな人材を育てる、架空事業会社コーポレートサイトのコーディング、WordPress化を行いました。
                    </p>
                  </div>
                </section>
              </div>
              <div class="p-single-works__video-wrapper">
                <video class="js-lazy" autoplay muted loop playsinline preload="metadata" width="1632" height="1020" data-scroll data-scroll-speed="-1">
                  <source data-src="/img/video/minami-video.mp4" type="video/mp4">
                </video>
              </div>
              <div class="p-single-works__info" style="transform: translate(0px, 0px);">
                <section class="p-single-works__overview p-works-overview">
                  <h2 class="p-works-overview__heading">
                    POINT
                  </h2>
                  <div class="p-works-overview__body">
                    <p class="p-works-overview__text">
                      世界で活躍できるグローバルな人材を育てる、架空事業会社コーポレートサイトのコーディング、WordPress化を行いました。
                    </p>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="l-single-works__detail l-container l-container--small">
            <section class="p-single-works__detail p-works-detail" data-scroll data-scroll-sticky data-scroll-target="#js-capture">
              <div class="p-works-detail__inner">
                <h2 class="js-trigger" style="transform: translate(0px, 0px);">
                  <span class="p-works-detail__heading">
                    ROLE
                  </span>
                </h2>
                <div class="p-works-detail__body">
                  <dl class="p-works-detail__dl">
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        担当範囲
                      </dt>
                      <dd class="p-works-detail__dd">
                        コーディング
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        制作期間
                      </dt>
                      <dd class="p-works-detail__dd">
                        3週間 (2〜3h / day)
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        使用言語
                      </dt>
                      <dd class="p-works-detail__dd">
                        HTML(EJS) / CSS(Scss) / JavaScript / PHP
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        使用ツール
                      </dt>
                      <dd class="p-works-detail__dd">
                        Git / Gulp / vscode / XD
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        使用CMS
                      </dt>
                      <dd class="p-works-detail__dd">
                        WordPress
                      </dd>
                    </div>
                    <div class="p-works-detail__row">
                      <dt class="p-works-detail__dt">
                        工夫点
                      </dt>
                      <dd class="p-works-detail__dd">
                        世界で活躍できるグローバルな人材を育てる、架空事業会社のコーポレートサイトのコーディング、WordPress化を行いました。
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </section>
            <div class="p-single-works__capture">
              <picture class="p-single-works__capture-picture">
                <source srcset="/img/webp/minami-top.webp" class="p-single-works__capture-img" type="image/webp" />
                <img src="/img/common/minami-top.png" class="p-single-works__capture-img" alt="みなみ歯科クリニック架空サイトのトップページフルスクリーンキャプチャ" width="816" height="1932" loading="lazy">
              </picture>
              <picture class="p-single-works__capture-picture">
                <source srcset="/img/webp/minami-about.webp" class="p-single-works__capture-img" type="image/webp" />
                <img src="/img/common/minami-about.png" class="p-single-works__capture-img" alt="みなみ歯科クリニック架空サイトのカンパニーページフルスクリーンキャプチャ" width="816" height="1046" loading="lazy">
              </picture>
              <picture class="p-single-works__capture-picture">
                <source srcset="/img/webp/minami-staff.webp" class="p-single-works__capture-img" type="image/webp" />
                <img src="/img/common/minami-staff.png" class="p-single-works__capture-img" alt="みなみ歯科クリニック架空サイトのサービスページフルスクリーンキャプチャ" width="816" height="1376" loading="lazy">
              </picture>
              <div class="p-single-works__capture-mask" id="js-capture"></div>
            </div>
          </div>
          <div class="p-works-connect" style="transform: translate(0px, 0px);">
            <div class="p-works-connect__inner">
              <a href="/open-cafe/" class="p-works-connect__link">
                <span class="p-works-connect__link-head u-hidden-lax-down">
                  Prev
                </span>
                <span class="p-works-connect__link-foot">
                  Open Cafe
                </span>
              </a>
            </div>
            <div class="p-works-connect__inner">
              <a href="/garden-salad/" class="p-works-connect__link">
                <span class="p-works-connect__link-head u-hidden-lax-down">
                  Next
                </span>
                <span class="p-works-connect__link-foot">
                  Garden Salad
                </span>
              </a>
            </div>
          </div>

        </main>
      </div>

      <%- include('../common/_footer', {pageId:pageId }) %>