<% let pageId='about' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main class="l-lower-about" data-barba="container" data-barba-namespace="about">
  <div class="l-container">
    <!--ファーストビュー-->
    <section id="js-first-view" class="p-lower-first-view">
      <div class="p-lower-first-view__inner">
        <div class="p-lower-first-view__heading c-page-heading">
          <h2 class="c-page-heading__en is-wrap" style="transform: translate(0px, 0px);">
            <span class="is-slide-up u-delay05">
              ABOUT <span class="u-hidden-lax-up">ME</span>
            </span>
          </h2>
          <span class="c-page-heading__en is-wrap u-hidden-lax-down" style="transform: translate(0px, 0px);">
            <span class="is-slide-up u-delay06">
              ME
            </span>
          </span>
        </div>
        <div class="p-lower-first-view__intro p-intro">
          <div class="p-intro__inner">
            <h3 class="p-intro__heading  is-slide-up">
              <span class="is-wrap" style="transform: translate(0px, 0px);">
                <span class="is-slide-up">
                  To be a creator
                </span>
              </span>
              <span class="is-wrap" style="transform: translate(0px, 0px);">
                <span class="is-slide-up u-delay01">
                  who moves hearts
                  <span class="p-intro__icon" aria-hidden="true">&#x1f5a4;</span>
                </span>
              </span>
            </h3>
            <p class="p-intro__text is-fade-up u-delay02">
              初めまして、マークアップエンジニア志望の飛田 心です。<br>
              Webサイトにおいての使いやすさを前提として、その上でインタラクションなどの視覚表現にこだわる事によって、
              「驚いたり、ワクワクしたり、ドキドキしたり」人の心を動かす制作物を創れる実装者を目指しています。
              事業や企業の魅力を様々な角度から伝えていくお手伝いをさせていただけると嬉しいです。
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--/ファーストビュー-->

    <!--プロフィール-->
    <section class="p-profile l-lower-about__profile">
      <h2 class="c-section-heading js-trigger" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en is-wrap">
          <span class="is-slide-up">
            PROFILE
          </span>
        </span>
        <span class="c-section-heading__ja is-fade-up">
          プロフィール
        </span>
      </h2>
      <div class="p-profile__contents js-trigger">
        <section class="p-profile__column">
          <h3 class="p-profile__heading is-fade-up">
            <span class="p-profile__heading-en">
              Kokoro Tobita
            </span>
            <span class="p-profile__heading-ja">
              飛田 心
            </span>
          </h3>
          <dl class="p-profile__dl is-fade-up u-delay01">
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                生年月日
              </dt>
              <dd class="p-profile__dd">
                2000年11月26日
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                出身地
              </dt>
              <dd class="p-profile__dd">
                茨城県
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                現職
              </dt>
              <dd class="p-profile__dd">
                化学メーカーにて勤務、現在4年目
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                好きなこと
              </dt>
              <dd class="p-profile__dd">
                小学生のときからゲームが大好きです。好きなことにひたすら没頭できるスキルは、ゲームで鍛えられたと思っています。
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                キャリア像
              </dt>
              <dd class="p-profile__dd">
                マイクロインタラクション、クリエイティブ表現に加えてサイトパフォーマンスやアクセシビリティに精通したフロントエンドエンジニア
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                関心領域
              </dt>
              <dd class="p-profile__dd">
                アクセシビリティ、WAI-ARIA、JavaScript、インタラクションデザイン
              </dd>
            </div>
          </dl>
        </section>

        <section class="p-profile__column">
          <h3 class="p-profile__heading is-fade-up">
            <span class="p-profile__heading-en">
              Media
            </span>
            <span class="p-profile__heading-ja">
              メディア・SNS
            </span>
          </h3>
          <dl class="p-profile__dl is-fade-up u-delay01">
            <div class="p-profile__row p-profile__row--links">
              <dt class="p-profile__dt p-profile__dt--links">
                Twitter
              </dt>
              <dd class="p-profile__dd p-profile__dd--links">
                <a href="https://twitter.com/coco_hack_ll" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                  twitter.com/coco_hack_ll
                  <svg class="c-svg p-profile__svg" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                  </svg>
                </a>
              </dd>
            </div>
            <div class="p-profile__row p-profile__row--links">
              <dt class="p-profile__dt p-profile__dt--links">
                Zenn
              </dt>
              <dd class="p-profile__dd p-profile__dd--links">
                <a href="https://qiita.com/Coco__syu" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                  zenn.dev/cocosyu
                  <svg class="c-svg p-profile__svg" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                  </svg>
                </a>
              </dd>
            </div>
            <div class="p-profile__row p-profile__row--links">
              <dt class="p-profile__dt p-profile__dt--links">
                GitHub
              </dt>
              <dd class="p-profile__dd p-profile__dd--links">
                <a href="https://github.com/kokoro-hart" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                  github.com/kokoro-hart
                  <svg class="c-svg p-profile__svg" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                  </svg>
                </a>
              </dd>
            </div>
            <div class="p-profile__row p-profile__row--links">
              <dt class="p-profile__dt p-profile__dt--links">
                Blog
              </dt>
              <dd class="p-profile__dd p-profile__dd--links">
                <a href="https://kt-media.blog/" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                  cocosyu.com
                  <svg class="c-svg p-profile__svg" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                  </svg>
                </a>
              </dd>
            </div>
          </dl>
        </section>
      </div>
    </section>
    <!--/プロフィール-->

    <!--スキル-->
    <section class="p-skills l-lower-about__skills">
      <h2 class="c-section-heading js-trigger" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en is-wrap">
          <span class="is-slide-up">
            SKILLS
          </span>
        </span>
        <span class="c-section-heading__ja is-fade-up">
          使用言語・ツール
        </span>
      </h2>
      <div class="p-skills__contents js-trigger">
        <dl class="p-skills__dl is-fade-up">
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="HTMLのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-html" />
              </svg>
              HTML
            </dt>
            <dd class="p-skills__dd">
              セマンティクスやアクセシビリティを考慮したマークアップを心掛けています。また、EJSやPugなどのテンプレートエンジンを用いたコーディングも可能です。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="CSSのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-css" />
              </svg>
              CSS
            </dt>
            <dd class="p-skills__dd">
              基本的なスタイリングから、Scssで変数やmixin、functionなどを用いたコーディングが可能です。CSS設計は予測しやすく、可読性が高いことから主にFLOCSSを使用しています。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="JavaScriptのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-js" />
              </svg>
              JavaScript
            </dt>
            <dd class="p-skills__dd">
              カーセル、タブ、アコーディオン、モーダルような頻出のUIの実装。また、Async / await を利用した非同期処理の実装が可能です。
              今後はネイティブのJavaScriptの理解を深めながら各種FWを学んでいく予定です。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="WordPressのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-wp" />
              </svg>
              WordPress
            </dt>
            <dd class="p-skills__dd">
              カスタム投稿やカスタムフィールドなどを用いた保守・管理に強い自作テーマ構築が可能です。サイト制作後の修正まで意識した制作を心掛けています。既存テーマの修正対応も可能です。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="Gitのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-git" />
              </svg>
              Git / GitHub
            </dt>
            <dd class="p-skills__dd">
              Git、GitHubを用いたバージョン管理が可能です。現在、複数人での使用を円滑にするため勉強中です。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="webpackのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-webpack" />
              </svg>
              webpack
            </dt>
            <dd class="p-skills__dd">
              jsのバンドル、babelでのトランスパイルで使用しています。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="Gulpのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-gulp" />
              </svg>
              Gulp
            </dt>
            <dd class="p-skills__dd">
              テンプレートエンジンとScssのコンパイル、画像圧縮、ホットリロード、svgスプライト、ファイルのminifyで使用しています。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="Photoshopのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-ps" />
              </svg>
              Design Tools
            </dt>
            <dd class="p-skills__dd">
              Photoshop、illustrator、XD、Figmaカンプからのコーディング経験があります。本サイトではデザインをfigma、画像のレタッチはPhotoshopを使用しました。
            </dd>
          </div>
        </dl>
      </div>
    </section>
    <!--/スキル-->


    <!--ビジョン-->
    <section class="p-vision l-lower-about__vision">
      <h2 class="c-section-heading js-trigger" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en is-wrap">
          <span class="is-slide-up">
            VISION
          </span>
        </span>
        <span class="c-section-heading__ja is-fade-up">
          ビジョン
        </span>
      </h2>
      <div class="p-vision__contents js-trigger">
        <div class="p-vision__body is-fade-up">
          <h3 class="p-vision__heading">
            私の目指すクリエイター像
          </h3>
          <ul class="p-vision__list">
            <li class="p-vision__item">
              <h3 class="p-vision__title">
                チームメンバー・クライアントとの信頼関係を大切にできる
              </h3>
              <p class="p-vision__text">
                HTMLコーディングであればアクセシビリティやセマンティックスを意識したり、3D表現ではエモーショナルな表現を求めたり、性能面重視のSPA開発ではパフォーマンスチューニングを徹底します。
              </p>
            </li>
            <li class="p-vision__item">
              <h3 class="p-vision__title">
                ユーザーファーストな構築、性能面重視の実装ができる
              </h3>
              <p class="p-vision__text">
                HTMLコーディングであればアクセシビリティやセマンティックスを意識したり、3D表現ではエモーショナルな表現を求めたり
              </p>
            </li>
            <li class="p-vision__item">
              <h3 class="p-vision__title">
                デザインを有効に見せる最適なインタラクションを提案、実装できる
              </h3>
              <p class="p-vision__text">
                HTMLコーディングであればアクセシビリティやセマンティックスを意識したり、3D表現ではエモーショナルな表現を求めたり、性能面重視のSPA開発
              </p>
            </li>            
          </ul>
        </div>
        <figure class="p-vision__img-wrapper is-fade-up">
          <img src="/img/common/img-vision.png" alt="" class="p-vision__img">
        </figure>
      </div>
    </section>
    <!--/ビジョン-->

    <!--経歴-->
    <section class="p-career l-lower-about__career">
      <h2 class="c-section-heading js-trigger" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en is-wrap">
          <span class="is-slide-up">
            CAREER
          </span>
        </span>
        <span class="c-section-heading__ja is-fade-up">
          これまでの経歴
        </span>
      </h2>
      <div class="p-career__contents js-trigger">
        <dl class="p-career__dl">
          <div class="p-career__row">
            <dt class="p-career__date">
              2019.04
            </dt>
            <dt class="p-career__dt">
              高校卒業後、化学メーカーに就職
            </dt>
            <dd class="p-career__dd">
              化学メーカーにて、医療機器の受託製造に従事する。4人チームの1人として製造工程の進捗管理、製品の仕上げ・検査作業を行う。<br>
              前年度から製品不良が多いという課題があり、現行業務の見直しを提案。トラブル時の対策用ドキュメント作成や製品出荷前のチェックシートを作成し、<span class="u-under-line">半年間不良品ゼロを達成。</span>
              また、少人数チームであることから、<span class="u-under-line">ナレッジの共有や業務効率化の推進</span>を行い普段からスケジュールに余裕を持たせることで、誰かが不在時の負担を減らすことを意識した。
              <br>
              →チームで仕事をする難しさを学んだ。 <br>
              →課題解決のプロセスから面白さを感じた。<br>
              →<span class="u-under-line">作成したドキュメントの見やすさを評価していただき職場内の表示類の作成を任される。</span>
              <br>
              <br>
              【実績】<br>
              ・危険物取扱者乙４類取得<br>
              ・特定化学物質作業主任者取得<br>
              ・有機溶剤作業主任者取得<br>
              ・品質管理技能競技会認定作業者<br>
              ・インライン検査認定作業者
            </dd>
          </div>
          <div class="p-career__row">
            <dt class="p-career__date">
              2019.04
            </dt>
            <dt class="p-career__dt">
              デザインに興味を持つ
            </dt>
            <dd class="p-career__dd p-career__dd--two-column">
              <div class="p-career__dd-text">
                化学メーカーに入社して３年目、職場の表示類を作成をするための参考として書店で配色やグラフィック関連の書籍を手に取り、デザインに興味を持つ。<br>
                広告や看板など身の回りのあらゆるところにデザイン技術が使われていることを知り感動。<br>
                職場の表示類の作成だけではなく、資料作りなどにも活かせると思いデザインの勉強を始める。
              </div>
              <picture class="p-career__dd-picture">
                <source srcset="/img/webp/book02.webp" class="p-works-item__img" type="image/webp" />
                <img src="/img/common/book02.jpeg" alt="デザインに関する書籍" width="811" height="608" loading="lazy" class="p-career__dd-img">
              </picture>
            </dd>
          </div>
          <div class="p-career__row">
            <dt class="p-career__date">
              2019.04
            </dt>
            <dt class="p-career__dt">
              Web技術に興味を持つ
            </dt>
            <dd class="p-career__dd p-career__dd--two-column">
              <div class="p-career__dd-text">
                書籍をきっかけにWebデザインを知る。<br>
                有名なデザイナーさんのポートフォリオサイトを拝見し心を動かされたことから自分もポートフォリオサイトを作ってみたいと思い、デザインツールの使い方やHTML、CSSを学び始める。<br>
                サイトを作っていく中で<span class="u-under-line">コーディングの楽しさにハマり</span>、Web技術に興味を持つ。
                広告や看板など身の回りのあらゆるところにデザイン技術が使われていることを知り感動。
                職場の表示類の作成だけではなく、資料作りなどにも活かせると思いデザインの勉強を始める。
                書籍をきっかけにWebデザインを知る。<br>
                有名なデザイナーさんのポートフォリオサイトを拝見し心を動かされたことから自分もポートフォリオサイトを作ってみたいと思い、デザインツールの使い方やHTML、CSSを学び始める。<br>
                サイトを作っていく中で<span class="u-under-line">コーディングの楽しさにハマり</span>、Web技術に興味を持つ。
                広告や看板など身の回りのあらゆるところにデザイン技術が使われていることを知り感動。
                職場の表示類の作成だけではなく、資料作りなどにも活かせると思いデザインの勉強を始める。
                <br>
                <br>
                →コーディングの楽しさから技術への関心が高まる。<br>
                →Web業界に興味を持つ。
              </div>
              <picture class="p-career__dd-picture">
                <source srcset="/img/webp/book01.webp" class="p-works-item__img" type="image/webp" />
                <img src="/img/common/book01.jpeg" alt="Web技術に関する書籍" width="506" height="675" loading="lazy" class="p-career__dd-img">
              </picture>
            </dd>
          </div>
          <div class="p-career__row">
            <dt class="p-career__date">
              2019.04
            </dt>
            <dt class="p-career__dt">
              制作会社への転職を決意する。
            </dt>
            <dd class="p-career__dd">
              サイトを作るための知識を学び続ける楽しさから本格的に仕事として携わりたいと考え、転職を決意する。<br>
              書籍・技術ブログ・学習サイトなどで学びながら本サイト作成まで至る。
            </dd>
          </div>
        </dl>
      </div>
    </section>
    <!--/経歴-->
  </div>
    <!--お問いわせ-->
    <div class="p-contact-connect" style="transform: translate(0px, 0px);">
      <a href="/contact/" class="p-contact-connect__link">
        <span class="p-contact-connect__link-head">
          Get In Touch
        </span>
        <span class="p-contact-connect__link-foot">
          Contact Me
        </span>
      </a>
    </div>
    <!--/お問いわせ-->
</main>



<%- include('../common/_footer', {pageId:pageId }) %>