<% let pageId='about' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main>
  <div class="inner-block">
    aboutページです
  </div>
</main>



<%- include('../common/_footer', {pageId:pageId }) %>