<% let pageId='about' ; %>
<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main class="l-lower-about" data-barba="container" data-barba-namespace="about">
  <div class="l-container">
    <%# ファーストビュー %>
    <section id="js-first-view" class="p-lower-first-view p-lower-first-view--about">
      <div class="p-lower-first-view__inner">
        <div class="p-lower-first-view__heading c-page-heading">
          <h1 class="c-page-heading__en is-wrap" style="transform: translate(0px, 0px);">
            <span class="is-slide-up">
              ABOUT <span class="u-hidden-lax-up">ME</span>
            </span>
          </h1>
          <span class="c-page-heading__en is-wrap u-hidden-lax-down" style="transform: translate(0px, 0px);">
            <span class="is-slide-up u-delay01">
              ME
            </span>
          </span>
        </div>
        <div class="p-lower-first-view__intro p-intro">
          <p class="p-intro__heading">
            <span class="is-wrap" style="transform: translate(0px, 0px);">
              <span class="is-slide-up u-delay02">
                To be a creator
              </span>
            </span>
            <span class="is-wrap" style="transform: translate(0px, 0px);">
              <span class="is-slide-up u-delay03">
                who moves hearts.
              </span>
            </span>
          </p>
          <p class="p-intro__text js-slide-up-row">
            飛田 心と申します。<br>
            Webサイト・アプリケーションにおいての使いやすさを前提に、その上で視覚表現にこだわる事によって、
            「驚いたり、ワクワクしたり、ドキドキしたり」人の心を動かす制作物を創れるクリエイターを目指しています。
          </p>
        </div>
      </div>
    </section><%# / ファーストビュー %>

    <%# プロフィール %>
    <section class="p-profile l-lower-about__profile">
      <h2 class="c-section-heading" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en">
          PROFILE
        </span>
        <span class="c-section-heading__ja">
          プロフィール
        </span>
      </h2>
      <div class="p-profile__contents">
        <div class="p-profile__column">
          <h3 class="p-profile__heading">
            <span class="p-profile__heading-en">
              Kokoro Tobita
            </span>
            <span class="p-profile__heading-ja">
              飛田 心
            </span>
          </h3>
          <p class="p-profile__text">
            2000年生まれ、東京都在住のAB型。
            Webサイトやアプリなどオンスクリーンのデザイン、フロントエンドの実装をおこなっています。 「好き」を突き詰めて、常に幅広い表現やより良いコードを追究していきます。
          </p>
          <div class="p-profile__details">
            <div data-scroll data-scroll-speed="-0.5">
              <span class="p-information__arrow u-hidden-lax-down">
                <svg class="p-information__arrow-svg" width="24px" height="24px" viewBox="0 0 14 14"
                  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>arrow-up-right</title>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Artboard" transform="translate(-1019.000000, -279.000000)" stroke="#000" stroke-width="1.5">
                      <g id="arrow-up-right"
                        transform="translate(1026.000000, 286.000000) rotate(90.000000) translate(-1026.000000, -286.000000) translate(1020.000000, 280.000000)">
                        <polyline id="Path" points="2.76923077 0 12 0 12 9.23076923"></polyline>
                        <line x1="12" y1="0" x2="0" y2="12" id="Path"></line>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
            </div>
            <div class="p-information__row">
              <h3 class="p-information__heading">
                LOCATION
              </h3>
              <ul class="p-information__list">
                <li class="p-information__item">
                  <span class="p-information__text">
                    Japan Ibaraki
                  </span>
                </li>
                <li class="p-information__item">
                  <span class="p-information__text">
                    Japan Tokyo
                  </span>
                </li>
              </ul>
            </div>
            <div class="p-information__row">
              <h3 class="p-information__heading">
                CONTACT DETAILS
              </h3>
              <ul class="p-information__list">
                <li class="p-information__item">
                  <a href="mailto:cocosyu.11261126@gmail.com" class="p-information__link"
                    target="_blank" rel="noopener noreferrer">
                    cocosyu.11261126@gmail.com
                  </a>
                </li>
                <li class="p-information__item">
                  <a href="tel:09030460556" class="p-information__link" target="_blank"
                    rel="noopener noreferrer">
                    +090 3046 0556
                  </a>
                </li>
              </ul>
            </div>
            <div class="p-information__row">
              <h3 class="p-information__heading">
                SOCIALS
              </h3>
              <ul class="p-information__list">
                <li class="p-information__item">
                  <a href="https://twitter.com/coco_hack_ll" class="p-information__link" target="_blank"
                    rel="noopener noreferrer">
                    Twitter
                  </a>
                </li>
                <li class="p-information__item">
                  <a href="https://codepen.io/kokoro-hart/pens/public" class="p-information__link"
                    target="_blank" rel="noopener noreferrer">
                    CodePen
                  </a>
                </li>
                <li class="p-information__item">
                  <a href="https://github.com/kokoro-hart" class="p-information__link" target="_blank"
                    rel="noopener noreferrer">
                    GitHub
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="p-profile__img-wrapper">
          <picture class="p-profile__picture">
            <source srcset="/img/webp/profile02.webp?20221223" class="p-profile__img" type="image/webp" />
            <img src="/img/common/profile02.jpeg?20221223" class="p-profile__img" width="520" height="662" loading="lazy" alt="プロフィールの顔写真" data-scroll data-scroll-speed="-1">
          </picture>
        </div>
      </div>
    </section><%# / プロフィール %>

    <%# 使用技術 %>
    <section class="p-skills l-lower-about__skills">
      <h2 class="c-section-heading" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en">
          SKILLS
        </span>
        <span class="c-section-heading__ja">
          スキル・ツール
        </span>
      </h2>
      <div class="p-skills__contents js-trigger">
        <ul class="p-skills__list">
          <li class="p-skills__item  is-fade-up">
            <span class="p-skills__number">01 サイト構築</span>
            <h3 class="p-skills__heading">
              Web Coding
            </h3>
            <p class="p-skills__text">
              静的なWebサイトからCMS導入をする動的サイト・アニメーション導入。細部に妥協せず、良いものを作るためにこだわりを持って取り組んでいます。細かなコーディングルールの仕様がある場合はそれに沿ったマークアップや、CSS設計等も他の人に引き継いでも支障がでないように心がけています。 ページ数やサイト全体のボリュームが多くなってしまった場合には、随所にコメントを残して改修の際に見返せるようにしています。
            </p>
          </li>
          <li class="p-skills__item  is-fade-up u-delay01">
            <span class="p-skills__number">02 Web・UI デザイン</span>
            <h3 class="p-skills__heading">
              Web・UI Design
            </h3>
            <p class="p-skills__text">
              見た目の美しさだけでなく、情報設計や機能性といった部分に重きを置いています。有用で質が高いことを前提に、その上で視覚表現にこだわることで人の心を動かせるようなデザインを目指しています。
            </p>
          </li>
          <li class="p-skills__item  is-fade-up u-delay02">
            <span class="p-skills__number">03 言語・ツール</span>
            <h3 class="p-skills__heading">
              Tools
            </h3>
            <p class="p-skills__text">
              現在は主に下記の言語やツールを使用しています。<br>
              HTML / CSS / JavaScript / TypeScript / WordPress / Git / GitHub / webpack / Gulp / Photoshop / XD / Figma / vscode
              <br class="u-mt8">
              下記の技術を学習中です。<br>
              React / Next.js / GraphQL / TypeScript / WebGL
            </p>
          </li>
          <li class="p-skills__item  is-fade-up u-delay03">
            <span class="p-skills__number">04 執筆</span>
              <h3 class="p-skills__heading">
                Writhing
              </h3>
              <p class="p-skills__text">
                個人で<a href="https://kt-media.blog/" class="u-under-line u-weight600" target="_blank" rel="noopener noreferrer">ブログ</a>の執筆をおこなっています。Web制作周りやフロントエンド技術関連の記事を定期的に更新している学習ブログです。
                技術的なアウトプット、知識の言語化に加えユーザーにとって分かりやすいデザイン、読みやすい文章設計などを日々鍛えています。
              </p>
          </li>
        </ul>
      </div>
    </section><%# / 使用技術 %>

    <%# バリュー %>
    <section class="p-value l-lower-about__value">
      <h2 class="c-section-heading" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en">
          VALUE
        </span>
        <span class="c-section-heading__ja">
          大事にしていること
        </span>
      </h2>
      <div class="p-value__contents js-trigger">
        <div class="p-value__circle">
          <div class="p-value__circle-inner">
            <svg class="p-value__circle-svg01" id="circle-1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="381px" height="381px"
              viewBox="0 0 381 381">
              <path class="p-value__circle-pass" d="M376.0118,190.5c0,102.4553-83.0565,185.5118-185.5118,185.5118S4.9882,292.9554,4.9882,190.5
                        S88.0447,4.9882,190.5,4.9882S376.0118,88.0447,376.0118,190.5"></path>
            </svg>
            <span class="p-value__circle-text p-value__circle-text--1">Cooperation</span>
          </div>
          <div class="p-value__circle-column">
            <div class="p-value__circle-inner">
              <svg class="p-value__circle-svg02" id="circle-2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="381px" height="381px"
                viewBox="0 0 381 381">
                <path class="p-value__circle-pass" d="M376.0118,190.5c0,102.4553-83.0565,185.5118-185.5118,185.5118S4.9882,292.9554,4.9882,190.5
                          S88.0447,4.9882,190.5,4.9882S376.0118,88.0447,376.0118,190.5"></path>
              </svg>
              <span class="p-value__circle-text p-value__circle-text--2">Useful</span>
            </div>
            <div class="p-value__circle-inner">
              <svg class="p-value__circle-svg03" id="circle-3" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="381px" height="381px"
                viewBox="0 0 381 381">
                <path class="p-value__circle-pass" d="M376.0118,190.5c0,102.4553-83.0565,185.5118-185.5118,185.5118S4.9882,292.9554,4.9882,190.5
                          S88.0447,4.9882,190.5,4.9882S376.0118,88.0447,376.0118,190.5"></path>
              </svg>
              <span class="p-value__circle-text p-value__circle-text--3">Pursue</span>
            </div>
          </div>
        </div>
        <ul class="p-value__list">
          <li class="p-value__item is-fade-up u-delay09">
            <div class="p-value__item-number">01 連携</div>
            <div class="p-value__item-body">
              <h3 class="p-value__item-heading">
                Cooperation
              </h3>
              <p class="p-value__item-text">
                現職の経験から、納期という制作期限がある中でスムーズに進行していくには、プロジェクトメンバー同士での連携が必要不可欠だと考えています。 
                勤務時間内のチャットやメールの返信は10分以内を心がけています。即答できないものに関しても現状報告を怠らないことを徹底しています。
                また、相手のことを正しく理解し、良好な関係づくりを徹底することでより良いアウトプットが生み出せると考えています。
              </p>
            </div>
          </li>
          <li class="p-value__item is-fade-up u-delay010">
            <div class="p-value__item-number">02 利便性</div>
            <div class="p-value__item-body">
              <h3 class="p-value__item-heading">
                Useful
              </h3>
              <p class="p-value__item-text">
                プロダクトの見た目の「美しさ・見やすさ」に加えて、利便性(使いやすさ)の追求。
                「見る人、使う人、一緒に作る人、運用する人」どの観点から見ても優秀であるプロダクトを目指しています。
                デジタルコンテンツの良さでもある「人間の動作に対してプロダクトが反応を返す双方向性」を最大限に活かすことを重要視しています。
              </p>
            </div>
          </li>
          <li class="p-value__item is-fade-up u-delay011">
            <div class="p-value__item-number">03 追求</div>
            <div class="p-value__item-body">
              <h3 class="p-value__item-heading">
                Pursue
              </h3>
              <p class="p-value__item-text">
                幼い頃からゲームが好きで、好きなことにひたすら没頭できるスキルは、ゲームで鍛えられたと思っています。
                開発やデザインも同様で、限られた時間の中でも、クオリティを追究することは惜しみません。
                素早く良質なアウトプットを生み出すために自分自身のアップデートやより良いクリエイティブの検証に貪欲に取り組みたいです。
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section><%# / バリュー %>
  </div>

  <%# お問い合わせ導線 %>
  <a href="/contact/" class="p-contact-connect" style="transform: translate(0px, 0px);">
    <p class="p-contact-connect__text-wrapper">
      <span class="p-contact-connect__text" data-text="Contact Me">
        Contact Me
      </span>
    </p>
  </a>
  <%# / お問い合わせ導線 %>
</main>

<%- include('../common/_footer', {pageId:pageId }) %>