<% let pageId='about' ; %>
<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main class="l-lower-about" data-barba="container" data-barba-namespace="about">
  <div class="l-container">
    <%# ファーストビュー %>
    <section id="js-first-view" class="p-lower-first-view">
      <div class="p-lower-first-view__inner">
        <div class="p-lower-first-view__heading c-page-heading">
          <h1 class="c-page-heading__en is-wrap" style="transform: translate(0px, 0px);">
            <span class="is-slide-up u-delay05">
              ABOUT <span class="u-hidden-lax-up">ME</span>
            </span>
          </h1>
          <span class="c-page-heading__en is-wrap u-hidden-lax-down" style="transform: translate(0px, 0px);">
            <span class="is-slide-up u-delay06">
              ME
            </span>
          </span>
        </div>
        <div class="p-lower-first-view__intro p-intro">
          <p class="p-intro__heading  is-slide-up">
            <span class="is-wrap" style="transform: translate(0px, 0px);">
              <span class="is-slide-up">
                To be a creator
              </span>
            </span>
            <span class="is-wrap" style="transform: translate(0px, 0px);">
              <span class="is-slide-up u-delay01">
                who moves hearts<span class="p-intro__icon" aria-hidden="true">&#x1f5a4;</span>
              </span>
            </span>
          </p>
          <p class="p-intro__text is-fade-up u-delay02">
            コーダー・マークアップエンジニア志望の飛田 心です。<br>
            Webサイトにおいての使いやすさを前提に、その上で視覚表現にこだわる事によって、
            「驚いたり、ワクワクしたり、ドキドキしたり」人の心を動かす制作物を創れる実装者を目指しています。
          </p>
        </div>
      </div>
    </section><%# / ファーストビュー %>

    <%# プロフィール %>
    <section class="p-profile l-lower-about__profile">
      <h2 class="c-section-heading js-trigger" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en is-wrap">
          <span class="is-slide-up">
            PROFILE
          </span>
        </span>
        <span class="c-section-heading__ja is-fade-up">
          プロフィール
        </span>
      </h2>
      <div class="p-profile__contents js-trigger">
        <section class="p-profile__column">
          <h3 class="p-profile__heading is-fade-up">
            <span class="p-profile__heading-en">
              Kokoro Tobita
            </span>
            <span class="p-profile__heading-ja">
              飛田 心
            </span>
          </h3>
          <dl class="p-profile__dl is-fade-up u-delay01">
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                生年月日
              </dt>
              <dd class="p-profile__dd">
                2000年11月26日
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                出身地
              </dt>
              <dd class="p-profile__dd">
                茨城県
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                現職
              </dt>
              <dd class="p-profile__dd">
                化学メーカーにて勤務、現在4年目
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                好きなこと
              </dt>
              <dd class="p-profile__dd">
                小学生のときからゲームが大好きです。好きなことにひたすら没頭できるスキルは、ゲームで鍛えられたと思っています。
              </dd>
            </div>
            <div class="p-profile__row">
              <dt class="p-profile__dt">
                関心領域
              </dt>
              <dd class="p-profile__dd">
                JavaScript、WAI-ARIA
              </dd>
            </div>
          </dl>
        </section>

        <section class="p-profile__column">
          <h3 class="p-profile__heading is-fade-up">
            <span class="p-profile__heading-en">
              Media
            </span>
            <span class="p-profile__heading-ja">
              メディア・SNS
            </span>
          </h3>
          <dl class="p-profile__dl is-fade-up u-delay01">
            <div class="p-profile__row p-profile__row--links">
              <dt class="p-profile__dt">
                Twitter
              </dt>
              <dd class="p-profile__dd">
                <a href="https://twitter.com/coco_hack_ll" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                  twitter.com/coco_hack_ll
                  <svg class="c-svg p-profile__svg" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                  </svg>
                </a>
              </dd>
            </div>
            <div class="p-profile__row p-profile__row--links">
              <dt class="p-profile__dt">
                CodePen
              </dt>
              <dd class="p-profile__dd">
                <a href="https://codepen.io/kokoro-hart/pens/public" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                  codepen.io/kokoro-hart
                  <svg class="c-svg p-profile__svg" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                  </svg>
                </a>
              </dd>
            </div>
            <div class="p-profile__row p-profile__row--links">
              <dt class="p-profile__dt">
                GitHub
              </dt>
              <dd class="p-profile__dd">
                <a href="https://github.com/kokoro-hart" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                  github.com/kokoro-hart
                  <svg class="c-svg p-profile__svg" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                  </svg>
                </a>
              </dd>
            </div>
            <div class="p-profile__row p-profile__row--links">
              <dt class="p-profile__dt">
                Blog
              </dt>
              <dd class="p-profile__dd">
                <a href="https://kt-media.blog/" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                  kt-media.blog
                  <svg class="c-svg p-profile__svg" width="14" height="14">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                  </svg>
                </a>
              </dd>
            </div>
          </dl>
        </section>
      </div>
    </section><%# / プロフィール %>

    <%# 使用技術 %>
    <section class="p-skills l-lower-about__skills">
      <h2 class="c-section-heading js-trigger" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en is-wrap">
          <span class="is-slide-up">
            SKILLS
          </span>
        </span>
        <span class="c-section-heading__ja is-fade-up">
          使用言語・ツール
        </span>
      </h2>
      <div class="p-skills__contents js-trigger">
        <dl class="p-skills__dl is-fade-up">
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="HTMLのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-html" />
              </svg>
              HTML
            </dt>
            <dd class="p-skills__dd">
              セマンティクスやアクセシビリティを考慮したマークアップを心掛けています。また、EJSやPugなどのテンプレートエンジンを用いたコーディングも可能です。<br>
              現在はWAI-ARIAについて学んでいます。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="CSSのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-css" />
              </svg>
              CSS
            </dt>
            <dd class="p-skills__dd">
              基本的なスタイリングから、Scssで変数やmixin、functionなどを用いたコーディングが可能です。CSS設計は予測しやすく、可読性が高いことから主にFLOCSSを使用しています。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="JavaScriptのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-js" />
              </svg>
              JavaScript
            </dt>
            <dd class="p-skills__dd">
              カーセル、タブ、アコーディオン、モーダルような頻出UIの実装が可能です。
              現在はネイティブの記法やメカニズムについて学んでいます。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="WordPressのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-wp" />
              </svg>
              WordPress
            </dt>
            <dd class="p-skills__dd">
              カスタム投稿やカスタムフィールドなどを用いた保守・管理に強い自作テーマ構築が可能です。サイト制作後の修正まで意識した制作を心掛けています。既存テーマの修正対応も可能です。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="Gitのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-git" />
              </svg>
              Git / GitHub
            </dt>
            <dd class="p-skills__dd">
              個人のサイトやブログサイトなどを制作する際は、GitHubにて管理を行っています。複数人で使用した経験がなく、実践的なフローを学ぶため一人擬似チーム開発の練習をしています。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="webpackのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-webpack" />
              </svg>
              webpack
            </dt>
            <dd class="p-skills__dd">
              各種コンパイル、jsのバンドル、トランスパイルなどで使用しています。<br>
              ドキュメントを見ながら設定を記述することが可能です。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="Gulpのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-gulp" />
              </svg>
              Gulp
            </dt>
            <dd class="p-skills__dd">
              一から設定を記述することが可能です。webpackと併用して使用することが多いです。
            </dd>
          </div>
          <div class="p-skills__row">
            <dt class="p-skills__dt">
              <svg class="c-svg p-skills__svg" width="40" height="40" role="img" aria-label="Photoshopのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-ps" />
              </svg>
              Design Tools
            </dt>
            <dd class="p-skills__dd">
              Photoshop、XD、Figmaカンプからのコーディング経験があります。デザイン作成する際はfigmaを使用しています。
            </dd>
          </div>
        </dl>
      </div>
    </section><%# / 使用技術 %>

    <%# バリュー %>
    <section class="p-value l-lower-about__value">
      <h2 class="c-section-heading js-trigger" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en is-wrap">
          <span class="is-slide-up">
            Value
          </span>
        </span>
        <span class="c-section-heading__ja is-fade-up">
          バリュー
        </span>
      </h2>
      <div class="p-value__contents js-trigger">
        <div class="p-value__body is-fade-up">
          <h3 class="p-value__heading">
            大事にしていること
          </h3>
          <ul class="p-value__list">
            <li class="p-value__item">
              <h3 class="p-value__title">
                チームメンバーとの連携
              </h3>
              <p class="p-value__text">
                現職の経験から、納期という制作期限がある中でスムーズに進行していくには、連携が必要不可欠だと考えています。
                勤務時間内のチャットやメールの返信は10分以内を心がけています。即答できないものに関しても現状報告を怠らないことを徹底しています。
              </p>
            </li>
            <li class="p-value__item">
              <h3 class="p-value__title">
                管理のしやすい構築
              </h3>
              <p class="p-value__text">
                classの命名やCSSのフォルダ分けなども他の人に引き継いでも支障がでないように心がけています。<br>
                ページ数やサイト全体のボリュームが多くなってしまった場合には、README.mdにコメントを残して改修の際に見返せるようにしています。
              </p>
            </li>
            <li class="p-value__item">
              <h3 class="p-value__title">
                デザインの再現性
              </h3>
              <p class="p-value__text">
                デザインデータに忠実に再現していくことを意識しています。
                基本的にはどのデバイスでも崩れが起きないように調節をしています。
              </p>
            </li>
          </ul>
        </div>
        <figure class="p-value__img-wrapper is-fade-up">
          <img src="/img/common/value.png" alt="" class="p-value__img">
        </figure>
      </div>
    </section><%# / バリュー %>

    <%# 経歴 %>
    <section class="p-career l-lower-about__career">
      <h2 class="c-section-heading js-trigger" style="transform: translate(0px, 0px);">
        <span class="c-section-heading__en is-wrap">
          <span class="is-slide-up">
            CAREER
          </span>
        </span>
        <span class="c-section-heading__ja is-fade-up">
          これまでの経歴
        </span>
      </h2>
      <div class="p-career__contents js-trigger">
        <dl class="p-career__dl">
          <div class="p-career__row">
            <dt class="p-career__date">
              2019
            </dt>
            <dt class="p-career__dt">
              高校卒業後、化学メーカーに就職
            </dt>
            <dd class="p-career__dd">
              化学メーカーにて、医療機器の受託製造に従事する。4人チームの1人として製造工程の進捗管理、製品の仕上げ・検査作業を行う。
              <br>
              少人数チームであることから、<span class="u-under-line">ナレッジの共有や業務効率化の推進</span>を行い、誰かが不在時のリスクマネジメントを心掛けている。
              <br>
              前年度から製品不良が多いという課題があり、現行業務の見直しを提案。トラブル時の対策用ドキュメント作成や製品出荷前のチェックシート作成などの対策を講じ、<span class="u-under-line">前年度比不良品率57%削減</span>。
              <hr>
              <span class="u-weight600">
                →チームで仕事をする難しさを学んだ。 
                <br>
                →課題解決のプロセスから面白さを感じた。
              </span>
              <hr>
              【取得資格・認定】<br>
              ・第二種電気工事士<br>
              ・危険物取扱者乙４類取得<br>
              ・有機溶剤作業主任者取得<br>
              ・品質管理技能競技会認定作業者<br>
              ・インライン検査認定作業者
            </dd>
          </div>
          <div class="p-career__row">
            <dt class="p-career__date">
              2021
            </dt>
            <dt class="p-career__dt">
              Web業界への転職を決意
            </dt>
            <dd class="p-career__dd p-career__dd--two-column">
              <div class="p-career__dd-text">
                著名なデザイナーさんのポートフォリオサイトを拝見したのをきっかけにサイト制作を学び始める。
                デザインツールの使い方やHTML、CSSの基礎から入り、サイトを作っていく中で<span class="u-under-line">コーディングの楽しさにハマる</span>。
                サイトを作るための知識を学び続ける楽しさから本格的に仕事として携わりたいと考え、転職を決意する。
                <br>
                主にUdemyや書籍、チュートリアル、ブログなどで学習を進める。
              </div>
              <picture class="p-career__dd-picture">
                <source srcset="/img/webp/books.webp" class="p-works-item__img" type="image/webp" />
                <img src="/img/common/books.png" alt="web技術に関する書籍類" width="608" height="389" decoding="async" class="p-career__dd-img">
              </picture>
            </dd>
          </div>
          <div class="p-career__row">
            <dt class="p-career__date">
              2022
            </dt>
            <dt class="p-career__dt">
              転職活動開始
            </dt>
            <dd class="p-career__dd">
              ポートフォリオサイトを公開。<br>
              現職業務と並行しながら転職活動中。
            </dd>
          </div>
        </dl>
      </div>
    </section><%# / 経歴 %>
  </div>

  <%# お問い合わせ導線 %>
  <a href="/contact/" class="p-contact-connect" style="transform: translate(0px, 0px);">
    <p class="p-contact-connect__text-wrapper">
      <span class="p-contact-connect__text" data-text="Contact Me">
        Get In Touch
      </span>
    </p>
  </a>
  <%# / お問い合わせ導線 %>
</main>

<%- include('../common/_footer', {pageId:pageId }) %>