<% let pageId='about' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main id="js-switching-area" class="l-lower-about">
  <div class="l-container">
    <div id="js-switching-bg">
      <section id="js-first-view" class="p-lower-first-view">
        <h2 class="c-page-heading">
          <span class="c-page-heading__en is-wrap">
            <span class="is-slide-up u-delay05">
              ABOUT
            </span>
          </span>
          <span class="c-page-heading__ja is-wrap">
            <span class="is-slide-up u-delay05">
              私について
            </span>
          </span>
        </h2>
        <div class="p-intro p-lower-first-view__intro">
          <div class="p-intro__inner">
            <p class="p-intro__heading">
              <span class="is-wrap">
                <span class="is-slide-up">
                  I AM MORE POSITIVE
                </span>
              </span>
              <span class="is-wrap">
                <span class="is-slide-up u-delay01">
                  THAN ANYONE.
                </span>
              </span>
            </p>
            <p class="p-intro__text is-fade-up u-delay02">
              多忙な日々や苦しい時期でも、マイナスに考えず「成長の機会」として捉え、<br class="u-hidden-md-down">
              技術者として「毎日」技術向上を楽しんでいきます。
            </p>
          </div>
        </div>
      </section>

      <section class="p-profile l-lower-about__profile">
        <h2 class="c-section-heading js-trigger">
          <span class="c-section-heading__en is-wrap">
            <span class="is-slide-up">
              PROFILE
            </span>
          </span>
          <span class="c-section-heading__ja is-fade-up">
            プロフィール
          </span>
        </h2>
        <div class="p-profile__contents js-trigger">
          <div class="p-profile__img-wrapper is-mask-white">
            <picture class="p-profile__picture">
              <source class="p-profile__img" data-srcset="/img/webp/img-profile.webp" type="image/webp" />
              <img data-src="/img/common/img-profile.jpeg" src="/img/common/placeholder.png" class="p-profile__img lazyload" width="552" height="912" loading="lazy" alt="プロフィール画像">
            </picture>
          </div>
          <div class="p-profile__body is-fade-up u-delay05">
            <section class="p-profile__info">
              <h3 class="p-profile__heading">
                <span class="p-profile__heading-en">
                  KOKORO TOBITA
                </span>
                <span class="p-profile__heading-ja">
                  飛田 心
                </span>
              </h3>
              <dl class="p-profile__dl">
                <div class="p-profile__row">
                  <dt class="p-profile__dt">
                    生年月日
                  </dt>
                  <dd class="p-profile__dd">
                    2000年11月26日
                  </dd>
                </div>
                <div class="p-profile__row">
                  <dt class="p-profile__dt">
                    出身地
                  </dt>
                  <dd class="p-profile__dd">
                    茨城県
                  </dd>
                </div>
                <div class="p-profile__row">
                  <dt class="p-profile__dt">
                    現職
                  </dt>
                  <dd class="p-profile__dd">
                    化学メーカーにて勤務、現在3年目
                  </dd>
                </div>
                <div class="p-profile__row">
                  <dt class="p-profile__dt">
                    好きなこと
                  </dt>
                  <dd class="p-profile__dd">
                    DIY / 洋服 / スノーボード
                  </dd>
                </div>
                <div class="p-profile__row">
                  <dt class="p-profile__dt">
                    現在の目標
                  </dt>
                  <dd class="p-profile__dd">
                    ハイクオリティでスピーディーなマークアップができるようになる。
                  </dd>
                </div>
                <div class="p-profile__row">
                  <dt class="p-profile__dt">
                    将来の目標
                  </dt>
                  <dd class="p-profile__dd">
                    UI・UX設計やパフォーマンス、アクセシビティに精通したフロントエンドエンジニア
                  </dd>
                </div>
                <div class="p-profile__row">
                  <dt class="p-profile__dt">
                    関心技術
                  </dt>
                  <dd class="p-profile__dd">
                    WAI-ARIA、JavaScript
                  </dd>
                </div>
              </dl>
            </section>

            <section class="p-profile__links">
              <h3 class="p-profile__heading">
                <span class="p-profile__heading-en">
                  LINKS
                </span>
              </h3>
              <dl class="p-profile__dl">
                <div class="p-profile__row p-profile__row--links">
                  <dt class="p-profile__dt p-profile__dt--links">
                    Twitter
                  </dt>
                  <dd class="p-profile__dd p-profile__dd--links">
                    <a href="https://twitter.com/coco_hack_ll" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                      twitter.com/coco_hack_ll
                      <svg class="c-svg p-profile__svg" width="14" height="14">
                        <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                      </svg>
                    </a>
                  </dd>
                </div>
                <div class="p-profile__row p-profile__row--links">
                  <dt class="p-profile__dt p-profile__dt--links">
                    GitHub
                  </dt>
                  <dd class="p-profile__dd p-profile__dd--links">
                    <a href="https://github.com/kokoro-hart" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                      github.com/kokoro-hart
                      <svg class="c-svg p-profile__svg" width="14" height="14">
                        <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                      </svg>
                    </a>
                  </dd>
                </div>
                <div class="p-profile__row p-profile__row--links">
                  <dt class="p-profile__dt p-profile__dt--links">
                    Qiita
                  </dt>
                  <dd class="p-profile__dd p-profile__dd--links">
                    <a href="https://qiita.com/Coco__syu" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                      qiita.com/Coco__syu
                      <svg class="c-svg p-profile__svg" width="14" height="14">
                        <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                      </svg>
                    </a>
                  </dd>
                </div>
              </dl>
            </section>
          </div>
        </div>
      </section>

      <section class="p-skills l-lower-about__skills">
        <h2 class="c-section-heading js-trigger">
          <span class="c-section-heading__en is-wrap">
            <span class="is-slide-up">
              SKILLS
            </span>
          </span>
          <span class="c-section-heading__ja is-fade-up">
            使用技術
          </span>
        </h2>
        <div class="p-skills__contents js-trigger">
          <dl class="p-skills__dl is-fade-up">
            <div class="p-skills__row">
              <dt class="p-skills__dt">
                <svg class="c-svg p-skills__svg" width="40" height="40">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-html" />
                </svg>
                HTML
              </dt>
              <dd class="p-skills__dd">
                アクセシビリティやセマンティクスを考慮したマークアップを心掛けています。また、EJSやPugなどのテンプレートエンジンを用いたコーディングも可能です。
              </dd>
            </div>
            <div class="p-skills__row">
              <dt class="p-skills__dt">
                <svg class="c-svg p-skills__svg" width="40" height="40">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-css" />
                </svg>
                CSS
              </dt>
              <dd class="p-skills__dd">
                基本的なスタイリングから、Scssで変数やmixin、functionなどを用いた柔軟なコーディングが可能です。CSS設計は予測しやすく、可読性が高いことから主にFLOCSSを使用しています。
              </dd>
            </div>
            <div class="p-skills__row">
              <dt class="p-skills__dt">
                <svg class="c-svg p-skills__svg" width="40" height="40">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-js" />
                </svg>
                JavaScript
              </dt>
              <dd class="p-skills__dd">
                inputタグを利用した絞り込み検索やスライダーのようなUIであれば生のJavascriptで作成できます。また、Async / await などAPIを使った非同期処理の実装も可能です。
                ネイティブのJavaScriptの理解を深めた後に各種FWを学んでいく予定です。
              </dd>
            </div>
            <div class="p-skills__row">
              <dt class="p-skills__dt">
                <svg class="c-svg p-skills__svg" width="40" height="40">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-wp" />
                </svg>
                WordPress
              </dt>
              <dd class="p-skills__dd">
                カスタム投稿やカスタムフィールドなどを用いた保守・管理に強いテーマ構築が可能です。サイト制作後の修正まで意識した制作を心掛けています。既存テーマの修正対応も可能です。
              </dd>
            </div>
            <div class="p-skills__row">
              <dt class="p-skills__dt">
                <svg class="c-svg p-skills__svg" width="40" height="40">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-git" />
                </svg>
                Git / GitHub
              </dt>
              <dd class="p-skills__dd">
                Git、GitHubを用いたバージョン管理が可能です。現在、複数人での使用を円滑にするため勉強中です。
              </dd>
            </div>
            <div class="p-skills__row">
              <dt class="p-skills__dt">
                <svg class="c-svg p-skills__svg" width="40" height="40">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-gulp" />
                </svg>
                Gulp
              </dt>
              <dd class="p-skills__dd">
                テンプレートエンジンとScssのコンパイル、画像圧縮、ホットリロード、svgスプライト、ファイルのminify、webpackでjsのバンドルを行なっています。
              </dd>
            </div>
            <div class="p-skills__row">
              <dt class="p-skills__dt">
                <svg class="c-svg p-skills__svg" width="40" height="40">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-ps" />
                </svg>
                Design Tools（PSD / XD / Figma）
              </dt>
              <dd class="p-skills__dd">
                画像編集、ロゴやバナーの作成のほか、デザインカンプ、ワイヤーフレームの作成が可能です。デザインカンプはコーディングに配慮した制作を心掛けています。
              </dd>
            </div>
          </dl>
        </div>
      </section>
    </div>

    <section class="p-career l-lower-about__career">
      <h2 class="p-career__heading js-trigger">
        <span class="p-career__heading-en is-wrap">
          <span class="is-slide-up">
            CAREER
          </span>
        </span>
        <span class="p-career__heading-ja is-fade-up">
          経歴
        </span>
        <span id="js-emblem" class="p-career__emblem is-fade-up">KOKORO*TOBITA*</span>
      </h2>
      <div class="p-career__contents js-trigger">
        <dl class="p-career__dl is-fade-up">
          <div class="p-career__row">
            <dt class="p-career__dt">
              高校卒業後、化学メーカーに就職<span class="p-career__date">（2019.04入社）</span>
            </dt>
            <dd class="p-career__dd">
              化学メーカーにて、医療機器の受託製造に従事する。4人チームの1人として製造工程の進捗管理、製品の仕上げ・検査作業を行う。<br>
              製品不良が多いという課題があり、現行業務の見直しを提案。トラブル時の対策用ドキュメント作成や製品出荷前のチェックシートを作成し、<span class="u-under-line">半年間不良品ゼロを達成。</span><br>
              また、少人数チームであることから、<span class="u-under-line">ナレッジの共有や業務効率化の推進</span>を行い普段からスケジュールに余裕を持たせることで、誰かが不在時の負担を減らすことを意識した。
              <br>
              <br>
              →チームで仕事をする難しさを学んだ。 <br>
              →課題解決のプロセスから面白さを感じた。<br>
              →<span class="u-under-line">作成したドキュメントの見やすさを評価していただき職場内の表示類の作成を任される。</span>
              <br>
              <br>
              【実績】<br>
              ・危険物取扱者乙４類取得<br>
              ・特定化学物質作業主任者取得<br>
              ・有機溶剤作業主任者取得<br>
              ・品質管理技能競技会認定作業者<br>
              ・インライン検査認定作業者
            </dd>
          </div>
          <div class="p-career__row">
            <dt class="p-career__dt">
              デザインに興味を持つ<span class="p-career__date">（2021.04〜）</span>
            </dt>
            <dd class="p-career__dd">
              化学メーカーに入社して３年目、職場の表示類を作成をするための参考として書店で配色やグラフィックの書籍を読んでいるときに、デザインに興味を持つ。<br>
              身の回りのあらゆるところに書籍で書いてあるデザイン技術が使われていることを知り感動。<br>
              表示類の作成だけではなく、資料作りなどにも活かせると思いデザイン本を読み始める。
            </dd>
          </div>
          <div class="p-career__row">
            <dt class="p-career__dt">
              Webデザインを知り、コーディングにハマる<span class="p-career__date">（2021.05〜）</span>
            </dt>
            <dd class="p-career__dd">
              書籍をきっかけにWebデザインを知る。<br>
              有名なデザイナーさんのポートフォリオサイトを拝見したことから自分もプロフィール的なサイトを作ってみたいと思い、デザインツールの使い方やHTML、CSSを学び始める。<br>
              簡単なサイトを作成してみたところ<span class="u-under-line">コーディングの楽しさにハマり</span>、その後もわからないことを都度調べながら様々なサイトを作ってみる。              
              <br>
              <br>
              →コーディングの楽しさから技術への関心が高まる。<br>
              →Web業界に興味を持つ。
            </dd>
          </div>
          <div class="p-career__row">
            <dt class="p-career__dt">
              Web制作会社への転職を決意する。<span class="p-career__date">（2021.05〜現在）</span>
            </dt>
            <dd class="p-career__dd">
              サイトを作るための知識を学び続ける楽しさから本格的に仕事として携わりたいと考え、転職を決意する。<br>
              書籍・技術ブログ・学習サイトなどで学びながら本サイト作成まで至る。
            </dd>
          </div>
        </dl>
      </div>
    </section>
  </div>
</main>



<%- include('../common/_footer', {pageId:pageId }) %>