<% let pageId='global-standard' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main id="js-global-standard" class="l-single-works p-single-works" data-barba="container" data-barba-namespace="single" data-bg="#6E87A9">
  <div class="l-container">
    <%# 背景色変更エリア %>
    <div id="js-switching-trigger">
      <%# ファーストビュー %>
      <div id="js-first-view" class="l-single-works__first-view">
        <div class="p-single-works__heading c-single-heading">
          <h1 class="p-single-works__heading-en is-wrap" style="transform: translate(0px, 0px);">
            <span class="is-slide-up">
              Global Standard
            </span>
          </h1>
          <p class="p-single-works__heading-ja is-fade-up u-delay01">
            架空コーポレートサイト
          </p>
          <p class="p-single-works__category is-fade-up u-delay02">
            Corporate Site / Coding
          </p>
        </div>
      </div><%# / ファーストビュー %>

      <%# モックアップ %>
      <div class="p-single-works__mockups" style="transform: translate(0px, 0px);">
        <picture class="p-single-works__mockup p-single-works__mockup--sp" data-scroll data-scroll-speed="1" data-scroll-delay="0.1">
          <source srcset="/img/webp/sp-global.webp" class="p-single-works__mockup-img" type="image/webp" />
          <img src="/img/common/sp-global.png" class="p-single-works__mockup-img" alt="Global Standard架空コーポレートサイト、スマホ画面のビュー" width="70" height="141" decoding="async">
        </picture>

        <picture class="p-single-works__mockup p-single-works__mockup--pc" data-scroll data-scroll-speed="0.5">
          <source srcset="/img/webp/pc-global.webp" class="p-single-works__mockup-img" type="image/webp" />
          <img src="/img/common/pc-global.png" class="p-single-works__mockup-img" alt="Global Standard架空コーポレートサイト、PC画面のビュー" width="949" height="811" decoding="async">
        </picture>

        <picture class="p-single-works__mockup p-single-works__mockup--tab" data-scroll data-scroll-speed="0.75" data-scroll-delay="0.05">
          <source srcset="/img/webp/tab-global.webp" class="p-single-works__mockup-img" type="image/webp" />
          <img src="/img/common/tab-global.png" class="p-single-works__mockup-img" alt="Global Standard架空コーポレートサイト、タブレット画面のビュー" width="445" height="622" decoding="async">
        </picture>
      </div><%# / モックアップ %>

      <%# サイトリンク 概要 %>
      <div class="p-single-works__info" style="transform: translate(0px, 0px);">
        <section class="p-single-works__overview p-works-overview">
          <h2 class="p-works-overview__heading">
            LINKS
          </h2>
          <div class="p-works-overview__body">
            <dl class="p-works-overview__dl">
              <div class="p-works-overview__row">
                <dt class="p-works-overview__dt">
                  Site url
                </dt>
                <dd class="p-works-overview__dd">
                  <a href="https://tobitakokoro.conohawing.com/" class="p-works-overview__link" target="_blank" rel="noopener noreferrer"
                    style="transform: translate(0px, 0px);">
                    https://tobitakokoro.conohawing.com/
                    <svg class="c-svg p-works-overview__blank" width="14" height="14">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                    </svg>
                  </a>
                </dd>
              </div>
              <div class="p-works-overview__row">
                <dt class="p-works-overview__dt">
                  Source
                  <svg class="c-svg p-works-overview__svg" width="20" height="20" role="img"
                    aria-label="GitHubのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                  </svg>
                </dt>
                <dd class="p-works-overview__dd">
                  <a href="https://github.com/kokoro-hart/global_standard" class="p-works-overview__link"
                    target="_blank" rel="noopener noreferrer" style="transform: translate(0px, 0px);">
                    https://github.com/kokoro-hart
                    <svg class="c-svg p-works-overview__blank" width="14" height="14">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                    </svg>
                  </a>
                </dd>
              </div>
              <div class="p-works-overview__row">
                <dt class="p-works-overview__dt">
                  Basic認証
                </dt>
                <dd class="p-works-overview__dd">
                  ID : pf-global <br>
                  Pass : pf-global@01
                </dd>
              </div>
            </dl>
          </div>
        </section>
        <section class="p-single-works__overview p-works-overview">
          <h2 class="p-works-overview__heading">
            OVERVIEW
          </h2>
          <div class="p-works-overview__body">
            <p class="p-works-overview__text">
              「Global Standard」架空事業会社コーポレートサイトのコーディング、CMS構築を行いました。
            </p>
          </div>
        </section>
      </div><%# / サイトリンク 概要 %>

      <%# ワイドイメージ %>
      <picture class="p-single-works__picture p-single-works__picture--wide" style="transform: translate(0px, 0px);">
        <source srcset="/img/webp/global-rotate.webp" class="p-single-works__img" type="image/webp" />
        <img src="/img/common/global-rotate.png" class="p-single-works__img" width="1920" height="1332" loading="lazy" data-scroll data-scroll-speed="-1" alt="">
      </picture><%# / ワイドイメージ %>

      <%# アニメーション %>
      <div class="p-single-works__info" style="transform: translate(0px, 0px);">
        <section class="p-single-works__overview p-works-overview">
          <h2 class="p-works-overview__heading">
            ANIMATION
          </h2>
          <div class="p-works-overview__body">
            <p class="p-works-overview__text">
              下層ページへの導線（View moreボタン）が右側に配置されているため、TOPページは左から右に流れるようなアニメーションでボタンへ誘導することを意識しました。
            </p>
          </div>
        </section>
      </div><%# / アニメーション %>
      
      <%# 動画 %>
      <div class="p-single-works__video-wrapper">
        <video autoplay muted loop playsinline width="1632" height="1020" data-scroll data-scroll-speed="-1">
          <source src="/img/video/global-video.mp4" type="video/mp4">
        </video>
      </div><%# / 動画 %>

    </div><%# / 背景色変更エリア %>

    <%# 詳細 %>
    <div class="l-single-works__detail">
      <section class="p-single-works__detail p-works-detail" data-scroll data-scroll-sticky data-scroll-target="#js-capture">
        <div class="p-works-detail__inner">
          <h2 class="p-works-detail__heading" style="transform: translate(0px, 0px);">
            DETAILS
          </h2>
          <div class="p-works-detail__body">
            <dl class="p-works-detail__dl">
              <div class="p-works-detail__row">
                <dt class="p-works-detail__dt">
                  担当範囲
                </dt>
                <dd class="p-works-detail__dd">
                  コーディング（10P） / CMS構築
                </dd>
              </div>
              <div class="p-works-detail__row">
                <dt class="p-works-detail__dt">
                  制作期間
                </dt>
                <dd class="p-works-detail__dd">
                  2021.9.20 - 2021.12.5
                </dd>
              </div>
              <div class="p-works-detail__row">
                <dt class="p-works-detail__dt">
                  実働時間
                </dt>
                <dd class="p-works-detail__dd">
                  43日(2〜4時間/ 1日)
                </dd>
              </div>
              <div class="p-works-detail__row">
                <dt class="p-works-detail__dt">
                  使用言語
                </dt>
                <dd class="p-works-detail__dd">
                  HTML(EJS) / CSS(Scss) / JavaScript / PHP
                </dd>
              </div>
              <div class="p-works-detail__row">
                <dt class="p-works-detail__dt">
                  使用ツール
                </dt>
                <dd class="p-works-detail__dd">
                  git / gulp + webpack / vscode / XD
                </dd>
              </div>
              <div class="p-works-detail__row">
                <dt class="p-works-detail__dt">
                  ライブラリ
                </dt>
                <dd class="p-works-detail__dd">
                  swiper.js
                </dd>
              </div>
              <div class="p-works-detail__row">
                <dt class="p-works-detail__dt">
                  使用CMS
                </dt>
                <dd class="p-works-detail__dd">
                  WordPress
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </section>
      <div class="p-single-works__captures">
        <picture class="p-single-works__capture" style="transform: translate(0px, 0px);">
          <source srcset="/img/webp/global-top.webp" class="p-single-works__capture-img" type="image/webp" />
          <img src="/img/common/global-top.png" class="p-single-works__capture-img" alt="Global Standard架空コーポレートサイトのトップページフルスクリーンキャプチャ" width="816" height="2127" loading="lazy">
        </picture>
        <picture class="p-single-works__capture" style="transform: translate(0px, 0px);">
          <source srcset="/img/webp/global-about.webp" class="p-single-works__capture-img" type="image/webp" />
          <img src="/img/common/global-about.png" class="p-single-works__capture-img" alt="Global Standard架空コーポレートサイトのカンパニーページフルスクリーンキャプチャ" width="816" height="1477" loading="lazy">
        </picture>
        <picture class="p-single-works__capture" style="transform: translate(0px, 0px);">
          <source srcset="/img/webp/global-service.webp" class="p-single-works__capture-img" type="image/webp" />
          <img src="/img/common/global-service.png" class="p-single-works__capture-img" alt="Global Standard架空コーポレートサイトのサービスページフルスクリーンキャプチャ" width="816" height="1991" loading="lazy">
        </picture>
        <picture class="p-single-works__capture" style="transform: translate(0px, 0px);">
          <source srcset="/img/webp/global-case.webp" class="p-single-works__capture-img" type="image/webp" />
          <img src="/img/common/global-case.png" class="p-single-works__capture-img" alt="Global Standard架空コーポレートサイトの導入事例ページフルスクリーンキャプチャ" width="816" height="1528" loading="lazy">
        </picture>
        <div class="p-single-works__capture-mask" id="js-capture"></div>
      </div>
    </div><%# / 詳細 %>
  </div>

  <%# 制作実績導線 %>
  <div class="p-works-connect" style="transform: translate(0px, 0px);">
    <a href="/open-cafe/" class="p-works-connect__link">
      <picture class="p-works-connect__bg">
        <source srcset="/img/webp/thumbnail-open.webp" type="image/webp" />
        <img src="/img/common/thumbnail-open.jpeg" width="770" height="781" alt="サムネイル、OpenCafe架空カフェサイト" loading="lazy">
      </picture>
      <p class="p-works-connect__text-wrapper">
        <span class="p-works-connect__text" data-text="Open Cafe">
          Prev
        </span>
      </p>
    </a>
    <a href="/minami-dental/" class="p-works-connect__link">
      <picture class="p-works-connect__bg">
        <source srcset="/img/webp/thumbnail-minami.webp" type="image/webp" />
        <img src="/img/common/thumbnail-minami.jpeg" width="770" height="781" alt="サムネイル、みなみ歯科クリニック架空サイト" loading="lazy">
      </picture>
      <p class="p-works-connect__text-wrapper">
        <span class="p-works-connect__text" data-text="Minami Dental">
          Next
        </span>
      </p>
    </a>
  </div><%# / 制作実績導線 %>

</main>

  <%- include('../common/_footer', {pageId:pageId }) %>