<% let pageId='garden-salad' ; %>

<%- include('../common/_header', {pageId:pageId }) %>

<% console.log(jsonData) %>
<main id="js-garden-salad" class="l-single-works p-single-works" data-barba="container" data-barba-namespace="single" data-bg="#5BB67A">
  <div id="js-switching-trigger">
    <div id="js-first-view" class="l-container">
      <div class="l-single-works__first-view">
        <div class="p-single-works__heading c-single-heading">
          <h2 class="p-single-works__heading-en is-wrap" style="transform: translate(0px, 0px);">
            <span class="is-slide-up">
              Garden Salad
            </span>
          </h2>
          <p class="p-single-works__heading-ja is-fade-up u-delay01">
            架空カフェサイト
          </p>
          <p class="p-single-works__category is-fade-up u-delay02">
            Cafe Site / Coding
          </p>
        </div>
      </div>
      <div class="p-single-works__mockups" style="transform: translate(0px, 0px);">
        <picture class="p-single-works__mockup p-single-works__mockup--sp" data-scroll data-scroll-speed="1" data-scroll-delay="0.1">
          <source srcset="/img/webp/sp-garden.webp" class="p-single-works__mockup-img" type="image/webp" />
          <img src="/img/common/sp-garden.png" class="p-single-works__mockup-img" alt="Garden Salad架空カフェサイト、スマホ画面のビュー" width="70" height="141" decoding="async">
        </picture>

        <picture class="p-single-works__mockup p-single-works__mockup--pc" data-scroll data-scroll-speed="0.5">
          <source srcset="/img/webp/pc-garden.webp" class="p-single-works__mockup-img" type="image/webp" />
          <img src="/img/common/pc-garden.png" class="p-single-works__mockup-img" alt="Garden Salad架空カフェサイト、PC画面のビュー" width="1103" height="701" decoding="async">
        </picture>

        <picture class="p-single-works__mockup p-single-works__mockup--tab" data-scroll data-scroll-speed="0.75" data-scroll-delay="0.05">
          <source srcset="/img/webp/tab-garden.webp" class="p-single-works__mockup-img" type="image/webp" />
          <img src="/img/common/tab-garden.png" class="p-single-works__mockup-img" alt="Garden Salad架空カフェサイト、タブレット画面のビュー" width="445" height="622" decoding="async">
        </picture>
      </div>
    </div>

    <div class="l-container l-container--small">
      <div class="p-single-works__info" style="transform: translate(0px, 0px);">
        <section class="p-single-works__overview p-works-overview">
          <h2 class="p-works-overview__heading">
            LINKS
          </h2>
          <div class="p-works-overview__body">
            <dl class="p-works-overview__dl">
              <div class="p-works-overview__row">
                <dt class="p-works-overview__dt">
                  Site url
                </dt>
                <dd class="p-works-overview__dd">
                  <a href="http://pf-gardensalad.com/" class="p-works-overview__link" target="_blank" rel="noopener noreferrer"
                    style="transform: translate(0px, 0px);">
                    http://pf-gardensalad.com/
                    <svg class="c-svg p-works-overview__blank" width="14" height="14">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                    </svg>
                  </a>
                </dd>
              </div>
              <div class="p-works-overview__row">
                <dt class="p-works-overview__dt">
                  Source
                  <svg class="c-svg p-works-overview__svg" width="20" height="20" role="img"
                    aria-label="GitHubのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                  </svg>
                </dt>
                <dd class="p-works-overview__dd">
                  <a href="https://github.com/kokoro-hart/garden_salad" class="p-works-overview__link"
                    target="_blank" rel="noopener noreferrer" style="transform: translate(0px, 0px);">
                    https://github.com/kokoro-hart
                    <svg class="c-svg p-works-overview__blank" width="14" height="14">
                      <use xlink:href="/img/svg/sprite.min.svg#icon-blank" />
                    </svg>
                  </a>
                </dd>
              </div>
              <div class="p-works-overview__row">
                <dt class="p-works-overview__dt">
                  Basic認証
                </dt>
                <dd class="p-works-overview__dd">
                  ID : pf-garden <br>
                  Pass : pf-garden@01
                </dd>
              </div>
            </dl>
          </div>
        </section>
        <section class="p-single-works__overview p-works-overview">
          <h2 class="p-works-overview__heading">
            OVERVIEW
          </h2>
          <div class="p-works-overview__body">
            <p class="p-works-overview__text">
              「Garden Salad」架空カフェサイトのコーディングを行いました。
            </p>
          </div>
        </section>
      </div>

      <picture class="p-single-works__picture p-single-works__picture--wide" style="transform: translate(0px, 0px);">
        <source srcset="/img/webp/garden-rotate.webp" class="p-single-works__img" type="image/webp" />
        <img src="/img/common/garden-rotate.png" class="p-single-works__img" width="1920" height="1336" loading="lazy" data-scroll data-scroll-speed="-1" alt="">
      </picture>
      <div class="p-single-works__info" style="transform: translate(0px, 0px);">
        <section class="p-single-works__overview p-works-overview">
          <h2 class="p-works-overview__heading">
            ANIMATION
          </h2>
          <div class="p-works-overview__body">
            <p class="p-works-overview__text">
              健康管理にこだわりのある方、おしゃれ好きの20〜30代の男女がターゲットとなっていることから、おしゃれな印象、写真映えするイメージを持っていただくために写真に対してスケールやパララックスエフェクトを付与しました。
            </p>
          </div>
        </section>
      </div>
      <div class="p-single-works__video-wrapper">
        <video class="js-lazy" autoplay muted loop playsinline preload="metadata" width="1632" height="1020" data-scroll data-scroll-speed="-1">
          <source data-src="/img/video/garden-video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  <div class="l-single-works__detail l-container l-container--small">
    <section class="p-single-works__detail p-works-detail" data-scroll data-scroll-sticky data-scroll-target="#js-capture">
      <div class="p-works-detail__inner">
        <h2 class="p-works-detail__heading" style="transform: translate(0px, 0px);">
          DETAILS
        </h2>
        <div class="p-works-detail__body">
          <dl class="p-works-detail__dl">
            <div class="p-works-detail__row">
              <dt class="p-works-detail__dt">
                担当範囲
              </dt>
              <dd class="p-works-detail__dd">
                コーディング（TOPのみ）
              </dd>
            </div>
            <div class="p-works-detail__row">
              <dt class="p-works-detail__dt">
                制作期間
              </dt>
              <dd class="p-works-detail__dd">
                2021.12.20 - 2021.12.28
              </dd>
            </div>
            <div class="p-works-detail__row">
              <dt class="p-works-detail__dt">
                実働時間
              </dt>
              <dd class="p-works-detail__dd">
                8日(2〜4時間/ 1日)
              </dd>
            </div>
            <div class="p-works-detail__row">
              <dt class="p-works-detail__dt">
                使用言語
              </dt>
              <dd class="p-works-detail__dd">
                HTML(EJS) / CSS(Scss) / JavaScript
              </dd>
            </div>
            <div class="p-works-detail__row">
              <dt class="p-works-detail__dt">
                使用ツール
              </dt>
              <dd class="p-works-detail__dd">
                git / gulp + webpack / vscode / figma
              </dd>
            </div>
            <div class="p-works-detail__row">
              <dt class="p-works-detail__dt">
                ライブラリ
              </dt>
              <dd class="p-works-detail__dd">
                simplePARALLAX.js
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </section>
    <div class="p-single-works__captures">
      <picture class="p-single-works__capture">
        <source srcset="/img/webp/garden-top.webp" class="p-single-works__capture-img" type="image/webp" />
        <img src="/img/common/garden-top.png" class="p-single-works__capture-img" alt="Garden Salad架空カフェサイトのトップページフルスクリーンキャプチャ" width="816" height="3371" loading="lazy">
      </picture>
      <div class="p-single-works__capture-mask" id="js-capture"></div>
    </div>
  </div>
  <div class="p-works-connect" style="transform: translate(0px, 0px);">
    <div class="p-works-connect__inner">
      <a href="/minami-dental/" class="p-works-connect__link">
        <span class="p-works-connect__text" data-text="Minami Dental">
          Prev
        </span>
      </a>
    </div>
    <div class="p-works-connect__inner">
      <a href="/Memories/" class="p-works-connect__link">
        <span class="p-works-connect__text" data-text="Memories">
          Next
        </span>
      </a>
    </div>
  </div>

</main>

<%- include('../common/_footer', {pageId:pageId }) %>