  <footer class="p-footer l-footer" data-scroll data-scroll-speed="-5">
    <div class="l-footer__inner">
      <div class="p-footer__contents">
        <div class="p-footer__info p-footer-info">
          <a href="/contact/" class="p-footer-info__link">
            <p class="p-footer-info__heading">
              Welcome,<br>
              let's <br>
              complete it 
              together.
            </p>
            <p class="p-footer-info__text">
              お気軽にお問い合わせください
            </p>
          </a>
          <p class="p-footer-info__follow">
            FOLLOW ME
          </p>
          <ul class="p-footer-info__sns p-sns">
            <li class="p-sns__item">
              <a href="https://codepen.io/kokoro-hart/pens/public" class="p-sns__link" target="_blank" rel="noopener noreferrer">
                <span class="u-visually-hidden">CodePen（外部リンク）</span>
                <svg class="c-svg p-sns__svg" width="20" height="20" role="img" aria-label="CodePenのアイコン">
                  <use xlink:href="/img/svg/sprite.min.svg#code-pen" />
                </svg>
              </a>
            </li>
            <li class="p-sns__item">
              <a href="https://github.com/kokoro-hart" class="p-sns__link" target="_blank" rel="noopener noreferrer">
                <span class="u-visually-hidden">GitHub（外部リンク）</span>
                <svg class="c-svg p-sns__svg" width="20" height="20" role="img" aria-label="GitHubのアイコン">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <ul class="p-footer__nav p-footer-nav">
          <li class="p-footer-nav__item">
            <a href="/" class="p-footer-nav__link">
              TOP
            </a>
          </li>
          <li class="p-footer-nav__item">
            <a href="/about/" class="p-footer-nav__link">
              ABOUT
            </a>
          </li>
          <li class="p-footer-nav__item">
            <a href="/contact/" class="p-footer-nav__link">
              CONTACT
            </a>
          </li>
          <li class="p-footer-nav__item">
            <a href="https://kt-media.blog/" class="p-footer-nav__link p-footer-nav__link--blank" target="_blank" rel="noopener noreferrer">
              BLOG
            </a>
          </li>
        </ul>
      </div>
      <p class="p-footer__copyright">
        <small lang="en">
          © K.Tobita 2022
        </small>
      </p>
    </div>
  </footer>
</div><%# / .data-scroll-container %>

<script src="/js/bundle.js"></script>


</body>
</html>