  <footer class="p-footer l-footer" data-scroll data-scroll-speed="-5">
    <div class="l-footer__inner">
      <div class="p-footer__contents">
        <div class="p-footer__head p-footer-head">
          <a href="/contact/" class="p-footer-head__link">
            <div class="p-footer-head__heading">
              <span class="p-footer-head__heading-text">
                <picture class="p-footer-head__picture">
                  <source srcset="/img/webp/profile03.webp" class="p-footer-head__img" type="image/webp" />
                  <img src="/img/common/profile03.jpeg" alt="飛田心の顔写真" width="78" height="78" loading="lazy"class="p-footer-head__img">
                </picture>
                Let’s<span data-text="solve"> work</span>
              </span>
              <span class="p-footer-head__heading-text">
                together<span data-text="↑">.</span>
              </span>
            </div>
          </a>
        </div>
        <div class="p-footer__foot p-footer-foot">
          <div class="p-footer-foot__left">
            <p class="p-footer-foot__text">
              FOLLOW ME
            </p>
            <ul class="p-footer-foot__sns p-sns">
              <li class="p-sns__item">
                <a href="https://twitter.com/coco_hack_ll" class="p-sns__link" target="_blank" rel="noopener noreferrer">
                  <span class="u-visually-hidden">Twitter（外部リンク）</span>
                  <svg class="c-svg p-sns__svg" width="20" height="20" role="img" aria-label="Twitterのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-twitter" />
                  </svg>
                </a>
              </li>
              <li class="p-sns__item">
                <a href="https://codepen.io/kokoro-hart/pens/public" class="p-sns__link" target="_blank" rel="noopener noreferrer">
                  <span class="u-visually-hidden">CodePen（外部リンク）</span>
                  <svg class="c-svg p-sns__svg" width="20" height="20" role="img" aria-label="CodePenのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#code-pen" />
                  </svg>
                </a>
              </li>
              <li class="p-sns__item">
                <a href="https://github.com/kokoro-hart" class="p-sns__link" target="_blank" rel="noopener noreferrer">
                  <span class="u-visually-hidden">GitHub（外部リンク）</span>
                  <svg class="c-svg p-sns__svg" width="20" height="20" role="img" aria-label="GitHubのアイコン">
                    <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <ul class="p-footer-foot__nav">
            <li class="p-footer-foot__nav-item">
              <a href="/" class="p-footer-foot__nav-link">
                TOP
              </a>
            </li>
            <li class="p-footer-foot__nav-item">
              <a href="/about/" class="p-footer-foot__nav-link">
                ABOUT
              </a>
            </li>
            <li class="p-footer-foot__nav-item">
              <a href="/contact/" class="p-footer-foot__nav-link">
                CONTACT
              </a>
            </li>
            <li class="p-footer-foot__nav-item">
              <a href="https://kt-media.blog/" class="p-footer-foot__nav-link p-footer-foot__nav-link--blank" target="_blank" rel="noopener noreferrer">
                BLOG
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="p-footer__copyright">
        <small lang="en">
          © K.Tobita 2022
        </small>
      </p>
    </div>
  </footer>
</div><%# / .data-scroll-container %>

<script src="/js/bundle.js"></script>

</body>
</html>