<% let pageId='contact' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main>
        <div class="inner-block">
          contactページです
        </div>
      </main>

  <%- include('../common/_footer', {pageId:pageId }) %>