<% let pageId='contact' ; %>

  <%- include('../common/_header', {pageId:pageId }) %>

    <% console.log(jsonData) %>
      <main class="l-lower-contact" data-barba="container" data-barba-namespace="contact">
        <div class="l-container">
          <div id="js-first-view">
            <div class="p-lower-first-view">
              <h2 class="c-page-heading">
                <span class="c-page-heading__en is-wrap">
                  <span class="is-slide-up">
                    CONTACT
                  </span>
                </span>
                <span class="c-page-heading__ja is-wrap">
                  <span class="is-slide-up">
                    お問い合わせ
                  </span>
                </span>
              </h2>
            </div>
            <div class="l-lower-contact__contents is-slide-up">
              <h3 class="u-visually-hidden">お問い合わせフォーム</h3>
              <form 
                id="js-form" 
                class="p-form"
                action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdWVihzITkGsBjGj6KJVVhGOgP-tTKr2I5zKUkF3J8DoT1cjA/formResponse"
                method="POST" 
                target="hidden_iframe" 
                onsubmit="submitted=true;"
              >
                <div class="p-form__dl">
                  <!--お名前-->
                  <p class="p-form__row">
                    <label class="p-form__label p-form__label--required" for="your-name">お名前</label>
                    <input 
                      class="p-form__input" 
                      id="your-name" 
                      type="text" 
                      placeholder="例） 山田 太郎"
                      name="entry.228557334" 
                      autocomplete="name" 
                      required 
                      aria-required="true"
                    >
                  </p>
                  <!--/お名前-->

                  <!--御社名-->
                  <p class="p-form__row">
                    <label class="p-form__label" for="your-company">御社名</label>
                    <input 
                      class="p-form__input" 
                      id="your-company" 
                      type="text" 
                      name="entry.1322745816"
                      placeholder="例） 株式会社xxx" 
                      autocomplete="organization"
                    >
                  </p>
                  <!--/御社名-->

                  <!--メールアドレス-->
                  <p class="p-form__row">
                    <label class="p-form__label p-form__label--required" for="your-email">メールアドレス</label>
                    <input 
                      class="p-form__input" 
                      id="your-email" 
                      type="email" 
                      placeholder="例） example@mail.com"
                      js-name="YPqjbf"
                      name="entry.1785101720" 
                      autocomplete="email" 
                      required aria-required="true"
                    >
                  </p>
                  <!--/メールアドレス-->

                  <!--お問い合わせ内容-->
                  <p class="p-form__row">
                    <label class="p-form__label p-form__label--required" for="your-textarea">お問い合わせ内容</label>
                    <textarea class="p-form__input p-form__textarea maxlength"  id="your-textarea" placeholder="お問い合わせ内容を入力してください。"  name="entry.2130733584"  required aria-required="true"></textarea>
                  </p>
                  <!--/お問い合わせ内容-->

                  <!--送信ボタン-->
                  <input 
                    id="submit" 
                    class="c-button-submit p-form__submit" 
                    type="submit" 
                    value="送信"
                  >
                  <!--送信ボタン-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <%- include('../common/_footer', {pageId:pageId }) %>